[2017-04-18 01:57] greebie commented on #60
Hi there,

A couple of initial comments upon first reading.

1. The mtcars tutorial for a data-frame is pretty common -- I wonder if it just makes sense to show how to make a dataframe in your own dataset rather than re-doing the original tutorial?

2. Please be careful of broad-range judgements that are not backed up.  For instance, in line 6 you say "The most common data type in R is a data fram

[2017-04-18 06:04] evanwill commented on #54
@jerielizabeth:

"OpenRefine: Fetching and Parsing Data from the Web " lesson is submitted as `openrefine-urls.md` in commit a030c3c8d4ed1fe36a651ef05717203258538d0c

Available at http://programminghistorian.github.io/ph-submissions/lessons/openrefine-urls

Thank you!

[2017-04-18 11:07] jonathanblaney commented on #33
@acrymble I've read through the changes you've made and made notes. It's much snappier now and I think overall the order makes sense. There are some typos but there are also a couple of things that don't quite make sense, I think, in the current order. I've also noticed a couple of mistakes which I'm pretty sure are original to me. With all of these, do you want me to make changes or to give you a

[2017-04-18 13:55] mariajoafana commented on #58
Ya hice las correcciones al texto, muchas gracias @jairomelo y @jamotilla
@vgayolrs He tenido problemas para sincronizar el texto desde GitHub Desktop, que fue donde lo corregí. No he podido verificar el correo al que tengo asociada mi cuenta de GitHub Destktop pues nunca me llega el email.  Este es el commit que intenté hacer para subir el texto con las correcciones pero salgo como "unrecognized

[2017-04-18 14:00] arojascastro commented on #58
Pido disculpas por meterme en este proceso de revisión. No he leído todas las corecciones, solo le he echado un vistazo rápido, pero diría que en la línea [64] @jairomelo indicó quitar una tilde y añadir una coma (“entre sí pero” por “entre si, pero”). Lo de la coma me parece bien, pero creo que la tilde es necesaria.

[2017-04-18 15:19] jairomelo commented on #58
Cierto es @arojascastro, perdón por el error @mariajoafana  😅

[2017-04-18 16:15] vgayolrs commented on #58
¡Muchas gracias por la observación @arojascastro ! @mariajoafana : ahora le doy una revisada para cerrar la edición y, si no hubiese más detalles, quede publicada hoy.

[2017-04-18 16:51] greebie commented on #60
Hello again.  I hope my feedback is helpful to you!  As promised, I've worked in a more detailed break-down:

Line 4.  I think it would be nice to dedicate a couple of sentences on tidyverse, then suggest that you will focus on dplyr.  It would just be a nice courtesy for the user who is being asked to install a package when they only want the dplyr library.

Line5.  Instead of "R is not the best

[2017-04-18 18:33] acrymble commented on #33
@jonathanblaney you can make the changes.

[2017-04-18 19:18] ianmilligan1 commented on #60
Wonderful, thanks for your review @greebie.

@nabsiddiqui – I have lined up another peer reviewer. It's a busy time of term so I have assigned them a deadline of 17 May. Once I receive both reviews, I'll close discussion and sum up the reviews rec'd to date.

[2017-04-18 20:22] vgayolrs commented on #58
En efecto @mariajoafana , tus correcciones están en un [sitio](https://github.com/programminghistorian/ph-submissions/blob/23fe2b1a4ec2b6842fb47170ecc401760956724c/es/traducciones/creando-diagramas-de-redes-desde-fuentes-historicas.md) distinto a la rama (gh-pages) del repositorio /ph-submissions/ y por alguna razón no puedo acceder a ellas desde mi escritorio de git. Además, tu versión seguramete

[2017-04-18 21:03] mariajoafana commented on #58
Listo @vgayolrs ya lo actualicé. Fue más fácil hacer eso. ¿Puedes ver si quedaron las ediciones que ya se habían hecho? Se supone que hice las correcciones sobre la última versión que estaba en ph-submissions, pero ya ves que aun no entiendo muy bien Github.

[2017-04-18 21:06] vgayolrs commented on #63
La corrección quedó lista @arojascastro Muchas gracias por todas las observaciones. Lo único que no entendí fue tu comentario a la línea 25 que es donde comienzan cuatro líneas en bloque de código.

[2017-04-18 21:09] arojascastro commented on #63
Perdón, me refería a la línea 35. No sé si debería ir como destacado:

Ver las instrucciones: http://programminghistorian.org/es/flujo-de-trabajo-nuevas-lecciones

[2017-04-18 22:52] vgayolrs commented on #63
Listo @arojascastro . Ya introduje el redireccionamiento en YAML y la etiqueta para que pongas los revisores de traducción. Mil gracias y saludos.

[2017-04-19 02:04] sjrichmond commented on #32
Hi Caleb,
@ttavenner and I reviewed the suggested changes and they are all fine with us. I have fixed the image names and linked them according to the style guide and uploaded the zip file. I don't think I see any other changes or questions.
Thanks!

[2017-04-19 02:33] wcaleb commented on #32
Thanks @sjrichmond and @ttavenner! Now that those changes have been made, I see just a few more things to adjust / suggestions to make. I'll be using the "paragraph numbers" displayed in the [live preview](http://programminghistorian.github.io/ph-submissions/lessons/using-javascript-to-create-maps) to reference specific places below.

In paragraph 7: You'll need to adjust the link and paragraph to

[2017-04-19 02:34] vgayolrs commented on #58
Todo en orden @mariajoafana . Se corrigieron algunos detalles de metadatos y se tradujo la bio del autor. Traducción en via de publicarse, ya se puede ver aquí: http://programminghistorian.org/es/lecciones/creando-diagramas-de-redes-desde-fuentes-historicas
Cierro ticket... ¡Muchas gracias a tod@s!

[2017-04-19 02:36] wcaleb commented on #32
@hepplerj @erinbush The lesson that you reviewed for Programming Historian is nearing publication! If you have time this week to take a quick look at the [live preview](http://programminghistorian.github.io/ph-submissions/lessons/using-javascript-to-create-maps) for the revised lesson, you may be able to help us catch any errors that I and the authors may have missed in revision---and also call ou

[2017-04-19 09:35] arojascastro commented on #63
Gracias @vgayolrs . Tengo una duda: el archivo está tanto en la carpeta submissions como en la de jekyll... en cuál has hecho las modificaciones?

[2017-04-19 14:01] vgayolrs commented on #63
@arojascastro
la correcta es: /ph-submissions/es/traducciones/instalar-modulos-python-pip.md
(se ve por la fecha de última edición)
la de Jekyll la subió Caleb en febrero como prototipo para hacer pruebas.

[2017-04-19 14:04] vgayolrs commented on #58
@mariajoafana : ¡Traducción publicada! Sería bueno difundir en Twitter y por doquier (es muy buen recurso). Saludos y gracias.

[2017-04-19 14:08] mariajoafana commented on #58
Gracias @vgayolrs ! Acabo de entrar a verla pero las figuras no están saliendo

[2017-04-19 14:08] sjrichmond commented on #32
I've made the four suggested changes and fixed one additional problem (footnote 3 was deleted in the editing and the remaining footnotes needed to be renumbered).

[2017-04-19 14:10] arojascastro commented on #58
Al margen de las imágenes, acabo de entrar, y veo que al final pone *Escrito con Stackedit*. Hay que quitarlo.

[2017-04-19 14:11] mariajoafana commented on #58
ya lo quito, gracias @arojascastro

[2017-04-19 14:12] vgayolrs commented on #58
Sí, lo acabo de ver, es por un asunto de redirección qu eluego qusiera discutir con ustedes, ahora lo modifico.

[2017-04-19 14:21] mariajoafana commented on #58
Ya salen las figuras! Voy a compartirlos en twitter!

[2017-04-19 14:21] vgayolrs commented on #58
Dame unos minutos @mariajoafana  porque todavía falta resolver otro problemita

[2017-04-19 14:22] mariajoafana commented on #58
Ok. Para las otras lecciones redireccionamos las imágenes desde las carpetas orginiales en inglés no? Pero en este caso hice una carpeta de imágenes nuevas que reflejen cómo se ve Palladio ahora y con las tablas salieran traducidas. ¿Dónde pusiste esa carpeta @vgayolrs ?

[2017-04-19 14:26] vgayolrs commented on #58
@mariajoafana Ya puedes twittear.
Sobre las imágenes: las imágenes van en la misma carpeta que las de la versión en inglés y automáticamente se cargan siguiendo el nombre de los archivos así que en la estructura del código `{% include figure.html caption="Figura x: pie de imagen." filename="nombre-del-archivo.png" %}` no hay que cambiar nada salvo el texto de pie de página y el nombre del archivo

[2017-04-19 14:28] mariajoafana commented on #58
Super! Listo, gracias ;)

[2017-04-19 14:29] vgayolrs commented on #58
¡Feliciades por la publicación de tu traducción @mariajoafana !

[2017-04-19 14:57] mariajoafana commented on #58
Gracias a todos! @vgayolrs @jairomelo @jamotilla @arojascastro

[2017-04-19 16:09] jerielizabeth commented on #54
Excellent @evanwill! Thank you!

I will look this over this week and get back to you!

[2017-04-19 16:51] nabsiddiqui commented on #60
Thanks @greebie, @rogorido, and @ianmilligan1.  I will begin working on the changes that are already posted, and I look forward to the aditional comments on May 17.

[2017-04-20 08:24] arojascastro commented on #63
Proceso de revisión terminado y lección publicada: http://programminghistorian.org/es/lecciones/instalar-modulos-python-pip

Ahora solo falta compartir en redes. Gracias a @vgayolrs, @morethanbooks y @ajspadial. Cierro *issue* si no hay más comentarios.

[2017-04-20 08:24] #63 closed

[2017-04-21 19:37] hepplerj commented on #32
Just a note that I've looked everything over and it looks great. I have one minor correction: the authors state that Palladio "still requires that you load your data onto a server without much documentation about privacy." This isn't what's happening -- all of the work that Palladio is doing is done in browser memory. Nothing ever goes to a database.

Overall, however, great work! Excited to see i

[2017-04-22 14:23] arojascastro opened #67 "Ticket de revisión de traducción: Uso de SPARQL para acceder a datos abiertos y enlazados"
*The Programming Historian en español* ha recibido la siguiente propuesta de traducción *Uso de SPARQL para acceder a datos abiertos y enlazados* de la lección [Using SPARQL to access Linked Open Data](http://programminghistorian.org/lessons/graph-databases-and-SPARQL) por parte de Nuria Rodríguez Ortega (@airun72). Esta traducción se encuentra en estos momentos en fase de revisión por parte de Ju

[2017-04-24 15:29] acrymble commented on #33
Suggestion for lesson icon: https://www.flickr.com/photos/britishlibrary/11290944036/

plays on 'triple' and 'linked' idea.

[2017-04-24 18:38] wcaleb commented on #32
@sjrichmond I've just created a pull request #68 with a few final suggested edits, one of them in response to @hepplerj comment above.

If you approve of those changes, I think we are ready to publish!

Also, let me know what you think of [this image](https://www.flickr.com/photos/britishlibrary/11132913643/) for the icon to associate with the lesson on our directory page. I was thinking that the

[2017-04-24 18:45] sjrichmond commented on #32
I approve, and I like the image, it speaks well to the correspondence aspect and the internationalism of the project.

[2017-04-24 18:47] wcaleb commented on #32
Great! One last thing I need is a brief bio for @sjrichmond and @ttavenner --- usually just a brief, one-sentence bio that will be used at the bottom of the lesson. You can put yours in a comment here and I'll get it transferred to the lesson.

[2017-04-24 19:14] sjrichmond commented on #32
Stephanie J. Richmond is an assistant professor of history at Norfolk State University in Virginia and a historian of gender and race in the Atlantic world.
Tommy Tavenner is a developer and data architect working in open data and civic engagement.

[2017-04-24 19:29] jerielizabeth commented on #54
@evanwill this looks excellent!! Thank you again! I honestly did not realize that you could do so much with OpenRefine.

I am making a few small structural changes to pull the lesson into line with our existing patterns (adjusting headers and adding internal links). I am also suggesting changing the filename to 'web-scraping-with-openrefine'. I will push up those changes and open a new issue for t

[2017-04-24 19:37] jerielizabeth commented on #54
Moving this over, I realized that I have created a bit of a inconsistency problem with the lesson name and slug. @evanwill what are your thoughts on the title, slug name? I worry a bit that 'web scraping' is too narrow for everything that this covers, but we do want the slug to be meaningful. 'fetch-and-parse-data-with-openrefine'? its long but matches the title.

[2017-04-24 19:42] wcaleb commented on #32
Now published at http://programminghistorian.org/lessons/using-javascript-to-create-maps !

Thanks @sjrichmond @ttavenner @hepplerj @erinbush for all your hard work!

[2017-04-24 19:42] #32 closed

[2017-04-24 22:01] evanwill commented on #54
The edits look good, and internal links make sense, thank you.

As for the name change--yes, I was feeling "web scraping" wasn't exactly the right title any more.
I hesitated to make the slug too long so was trying to simplify with just `openrefine-urls`.
Another short option might be `openrefine-fetch-and-parse`, but I am good with the long file name if that fits with the website structure (i.e.

[2017-04-24 22:11] jerielizabeth commented on #54
Naming things. Always the unexpected problem. :)

I like having the actions first, rather than the tool, in the title to catch the eye of readers who know what they want to do, but aren't sure how to go about it.

What about "Parsing Web Queries with OpenRefine" and slug `parse-web-queries-with-openrefine`?

[2017-04-25 00:17] terhinurmikko commented on #33
I quite like it, makes a change from the usual images of LOD clouds and
iron chains...

On 25 April 2017 at 01:29, Adam Crymble <notifications@github.com> wrote:

--
Dr Terhi Nurmikko-Fuller
Lecturer Digital Humanities
Centre for Digital Humanities Research
School of Archaeology and Anthropology
Australian National University
120 McCoy Circuit
2601 ACT, Australia

[2017-04-25 17:00] evanwill commented on #54
"Web Queries" is an Excel thing, so I don't want to use it in the title due to possible confusion.

I am leaning back to "Fetching and Parsing Data from the Web with OpenRefine", `fetch-and-parse-data-with-openrefine.md`.
It captures the idea of a general and flexible tool, since I was trying to introduce functions that could be applied to a variety of uses where the material is web accessible.

[2017-04-25 23:24] #58 closed

[2017-04-26 14:57] mariajoafana commented on #56
Acá van mis comentarios @vgayolrs

2 "*The*" antes de *Programming Historian*
3 Tal vez aclarar así: "una utilidad del lenguaje de programación Perl"
4 Corregir en el último renglón "compatibilidad de implican"
8 "*The*" antes *Programming Historian*
15 Corregir "Mardown"
18 añadir "la" antes de Markdown. Tilde en "esta"
21 "*The*" antes de *Programming Historian*
23 "*The*" antes de *Programming

[2017-04-26 17:05] vgayolrs commented on #56
¡Muchas gracias @mariajoafana ! ¿Procedo a corregir o estamos esperando los comentarios de alguien más?

[2017-04-26 18:18] jerielizabeth commented on #54
That sounds good to me! I'll make the change!

[2017-04-26 18:39] jerielizabeth opened #69 "Review Ticket for Fetching and Parsing Data from the Web with OpenRefine"
The Programming Historian has received the following tutorial on 'Fetching and Parsing Data from the Web with OpenRefine' by @evanwill. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/fetch-and-parse-data-with-openrefine

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, alt

[2017-04-26 18:40] jerielizabeth commented on #54
I have opened a review ticket for this lesson (#69). This closes the proposal ticket.

[2017-04-26 18:40] #54 closed

[2017-04-26 18:51] jerielizabeth commented on #69
To start out, this is really an excellent lesson and a very valuable addition! It provides an excellent intermediary point for people who are interested in manipulating digital materials but don't have time to learn an entire programming language first.

I have a couple of comments and suggestions for some additional images and clarifications to get us started, and then I'll set about to recruit r

[2017-04-26 19:38] aliciacbu commented on #61
Hola,
Os comparto mis sugerencias:

- 34: Llena --> Rellena ("rellenar" se ajusta más al sentido de la frase, DRAE  tr. Cubrir con los datos necesarios espacios en blanco en formularios, documentos, etc.)
- 54: cambiado --> por medio de las plantillas
- 86: —por ejemplo.... tu ítem— (el inciso debe ser precedido por la barra, sin el espacio)
- 93: —bueno (sin el espacio)
- 102: no tiene --> no tie

[2017-04-27 07:57] evanwill commented on #69
Thank you for the comments!
I made edits to the text addressing most of the "Line Comments" suggestions above, pushed in this commit: 067f69c709b127c430efe3e6342e06326c6d9f3f

However, I have not created additional images yet, and have to think more about the use of blockquotes/asides. I will push those edits in a separate commit.

[2017-04-27 07:59] arojascastro commented on #61
Gracias @aliciacbu. Resumo:
- Parece que todos estamos de acuerdo en que hay que añadir al principio una apartado aclarando las diferencias entre Omeka.net y Omeka.org.
- Si se hace esto, creo que ya no sería confuso añadir el manual de Rubén Alcaraz (en la bibliografía, si hay más entradas, o bien en una nota al final).
- Por favor, @mariajoafana corrige las erratas señaladas. Puedes añadir las s

[2017-04-27 13:46] mariajoafana commented on #61
Perfecto, gracias @aliciacbu @vgayolrs @arojascastro. Pronto les aviso cuando estén hechas las correcciones.

[2017-04-27 18:45] mariajoafana commented on #56
Pues no tenemos por el momento a nadie para ser el segundo revisor. Yo creo que puedes hacer estas correcciones y de ahí decidimos vemos quien se anima?

[2017-04-28 17:17] jerielizabeth commented on #69
Thanks, @evanwill! The changes so far look great!

I'll wait for the next commit and then recruit reviewers.

[2017-04-28 18:35] walshbr opened #70 "Proposed Lesson: Exploring and Analyzing Network Data with Python"
The Programming Historian has received the following proposal for a lesson on 'Exploring and Analyzing Network Data with Python' by @jrladd @jmotis and @scottbot. The proposed learning outcomes of the lesson are:

- introduce the NetworkX package for working with network data in Python
- analyze humanities network data to find:
    - network structure and path lengths
    - important or central no

[2017-04-28 20:19] mdlincoln opened #71 "Proposed Lesson: Correspondence Analysis with R"
The Programming Historian has received the following proposal for a lesson on 'Correspondence Analysis with R' by @greebie. The proposed learning outcomes of the lesson are:

- Introducing readers to correspondence analysis / multidimensional reduction
- Demonstrating how to perform this analysis via R on a dataset of members of the Canadian parliament
- Explaining how to interpret the results of

[2017-05-03 20:37] evanwill commented on #69
I added a few more images and edits, I believe addressing @jerielizabeth 's initial suggestions, in commit ffe736ff74f016b81c2ce906c3791fd34cecbf4d

[2017-05-05 11:54] arojascastro opened #73 "Ticket de revisión de traducción: Limpieza de datos con OpenRefine"
*The Programming Historian en español* ha recibido la siguiente propuesta de traducción *Limpieza de datos con OpenRefine* de la lección [Cleaning Data with OpenRefine](http://programminghistorian.org/lessons/cleaning-data-with-openrefine) por parte de @mjcolmenero. Esta traducción se encuentra en estos momentos en fase de revisión por parte de @LuisinaSilva y puede leerse en:

### Texto
https://g

[2017-05-05 16:15] jonathanblaney commented on #33
Sorry for the delay. I've made those changes.

I like the image! It's a bit unexpected but it makes sense.

[2017-05-06 12:45] arojascastro commented on #67
Muchas gracias @airun72 por la excelente traducción. Aquí van algunas observaciones mías:

- 58: --> interregar --> interrogar
- 58: consula --> consulta
- 62: objeto; ej.: --> objeto. Por ejemplo:
- en general: .) --> ). (punto detrás de paréntesis de cierre)
- 135: )en rojo --> ) en rojo (hay que separar)
- 145: Advierte --> Ten en cuenta (sugerencia?)
- 169: el modo como --> el modo en que (sug

[2017-05-06 14:04] arojascastro commented on #73
Gracias @mjcolmenero por tu excelente traducción. Hay muy pocos errores, lo único que he encontrado es lo siguiente:

- En general, en *The Programming Historian en español* hemos utilizado hasta el momento la segunda persona del singular, es decir, tú en lugar de usted. Habría, por tanto, que cambiar las formas verbales y los pronombres, pero no sé qué opinan los otros editores: ¿qué os parece @v

[2017-05-06 16:46] arojascastro commented on #73
Añado a @LuisinaSilva como revisora externa. Por favor, introduce aquí tus propuestas de cambio en las próximas dos semanas.

[2017-05-06 18:22] mjcolmenero commented on #73
Muchas gracias por tu revisión @arojascastro 👍. Corrijo todo lo que indicas para que el segundo revisor ya no lo encuentre.
Sólo una cosa: no planteaba traducir los metadatos sino alojar el archivo por si el museo lo retira en algún momento. La lección no funcionaría sin el.

[2017-05-06 18:49] mjcolmenero commented on #73
Tras revisar el texto para corregir lo indicado he encontrado lo siguiente:
31: (semi-)automated  en el original. He eliminado el espacio en la traducción.
51: with the Lesson en el original. Lo dejo en mayúscula salvo que me indiquéis lo contrario
128: software --> software (añadir cursiva).  Lo he sustituido por programa.
Reviso el tratamiento de la segunda persona cuando me lo indiquéis.
Saludo

[2017-05-06 18:57] arojascastro commented on #73
¡Gracias a ti! Y gracias también por la aclaración - ahora lo modifico.

Pregunta: @mjcolmenero  ¿dónde has hecho las modificaciones? Si las haces aquí (https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/traducciones/limpieza-de-datos-con-OpenRefine.md) las tendremos todos.

[2017-05-06 20:11] mjcolmenero commented on #73
Respuesta: @arojascastro las he hecho ahí mismo. Pero grabé as tarde, quizás por eso no las viste.

[2017-05-06 20:36] vgayolrs commented on #73
De acuerdo con tu primera observación @arojascastro .

[2017-05-07 17:09] acrymble commented on #33
Final read through (I will try to fix these myself to save you another go):

- [x] p27 code example: one URI ends in / and the other doesn't
- [x] p30: "try pasting one of them" - you don't actually give any Tobias URIs anymore. Either try pasting 'it' or just note there are no files to view at data.history.ac.uk/tobias-project/ - added http://data.history.ac.uk/tobias-project/person/15601 to this

[2017-05-07 17:45] acrymble commented on #33
This lesson includes the following files:

/lessons/intro-to-linked-data.md
/lessons/intro-to-linked-data/intro-to-linked-data-fig1.png
/lessons/intro-to-linked-data/intro-to-linked-data-fig2.png
/lessons/intro-to-linked-data/intro-to-linked-data-fig3.png
/lessons/intro-to-linked-data/intro-to-linked-data-fig4.png
/lessons/intro-to-linked-data/intro-to-linked-data-fig5.png
/lessons/intro-to-linked

[2017-05-07 18:26] acrymble commented on #33
I have moved all of these files over to the live site. This lessons is now published as of 7 May 2017, and is available at the following URL:

http://programminghistorian.org/lessons/intro-to-linked-data

Thanks to @jonathanblaney for your hard work on this. And to @terhinurmikko and @mdlincoln for your constructive reviews.

I'll tweet about this from the Programming Historian account this week a

[2017-05-07 18:26] #33 closed

[2017-05-07 22:37] mdlincoln commented on #33
Congratulations @jonathanblaney and @acrymble ! It's great to see this live.

[2017-05-08 09:52] terhinurmikko commented on #33
Well done everyone, Ive just seen the tweet go round (have retweeted
accordingly)!

Adam, could you please correct the typo in my name at the top of the page
(the reviewers section).

Thank you!
Terhi

On 8 May 2017 at 08:37, Matthew Lincoln <notifications@github.com> wrote:

--
Dr Terhi Nurmikko-Fuller
Lecturer Digital Humanities
Centre for Digital Humanities Research
School of Archaeology and An

[2017-05-08 09:57] acrymble commented on #33
Sorry, fixed.

[2017-05-08 10:03] terhinurmikko commented on #33
Thank was quick! :D

Thanks, and well done, everyone!

On 8 May 2017 at 19:57, Adam Crymble <notifications@github.com> wrote:

--
Dr Terhi Nurmikko-Fuller
Lecturer Digital Humanities
Centre for Digital Humanities Research
School of Archaeology and Anthropology
Australian National University
120 McCoy Circuit
2601 ACT, Australia

[2017-05-08 10:04] jonathanblaney commented on #33
Thanks to all three of you for the time you've spent making this course better. I've really appreciated your effort and your insights.

[2017-05-08 16:36] JMParr opened #75 "Review Ticket for Intro to Twitter Bots With Tracery"
The Programming Historian has received the following tutorial on 'Introduction to Twitter Bots With Tracery' by shawngraham. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/intro-to-twitterbots

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, although you can structure you

[2017-05-08 18:33] jerielizabeth commented on #69
@evanwill Thank you for the edits! I think the lesson is in good shape to bring in external reviewers.

[2017-05-11 07:37] ajspadial commented on #62
A continuación, mis comentarios. Hago muchas alusiones al español de España. Hay algunas traducciones que me parecen demasiado directas del Inglés, y que no suenan bien en español de España. Hago esta precisión, porque es posible que sean expresiones correctas en otros países hispanohablantes, pero está fuera de mi conocimiento.

23: ¿Un emulador? Esto no aparece en el original. Tampoco sé a qué s

[2017-05-11 07:37] ajspadial commented on #62
Disculpad el retraso!

[2017-05-11 07:38] ajspadial commented on #62
Por si no queda claro, en la línea 23 (y otras donde aparece) propongo eliminar el término emulador.

[2017-05-11 07:45] arojascastro commented on #62
Muchas gracias @ajspadial, todo aclarado.

@vgayolrs todo tuyo: por favor, corrige las erratas y acepta las sugerencias que sean calcos del inglés. Como anteriormente dije, los ibéricos agradeceríamos una lista de las expresiones que nos suenan a inglés, pero que son corrientes en México y otros países latinoamericanos.

Cuando hayas introducido los cambios, @vgayolrs publica un mensaje aquí para

[2017-05-11 13:17] vgayolrs commented on #62
¡Muchas gracias @ajspadial y @arojascastro por sus observaciones ! El fin de semana me pongo a trabajar con esto y, de haber alguna duda, los estaré importunando por aquí. ¡Saludos!

[2017-05-12 07:33] arojascastro commented on #67
Copio aquí los cambios realizados por @j-pastor en su *pull request* https://github.com/programminghistorian/ph-submissions/pull/74 :

-  Bloque YAML: Uso de SPARQL para acceder a Datos abiertos y enlazados --> Uso de SPARQL para acceder a datos abiertos enlazados
- 23: datos abiertos y enlazados --> datos abiertos enlazados
- 32: RDF y Datos abiertos y enlazados -->  RDF y datos abiertos enlazado

[2017-05-12 21:37] LuisinaSilva commented on #73
Hola a todos!

Muy buena traducción! Acá van algunas sugerencias.

24) en lugar de la palabra "actuar" tal vez poner proceder.
35) sacar "con los que tratar y"
35) en lugar de "contenidos" poner "incluido"
35) cambiar "que dar respuesta" por "responder"
39) cambiar "Tiempo atrás" por "En el pasado"
39) doble espacio entre  DE y PROGRAMAS "el uso de  programas"
39) doble espacio entre DATOS y el pa

[2017-05-13 07:07] arojascastro commented on #73
¡Gracias @LuisinaSilva!

Por favor, @mjcolmenero modifica el texto para acomodarlo a la segunda persona del singular en lugar del *usted*.

También corrige las erratas que hemos encontrado y ten en cuenta nuestras sugerencias de cambio que atañen al estilo. Si crees que alguna de nuestras sugerencias no es necesaria, eres libre de mantener el texto, pero, en general, creo que no son muy invasivas

[2017-05-13 17:56] mjcolmenero commented on #73
Estimada @LuisinaSilva:

Muchísimas gracias por la concienzuda revisión que siempre beneficia al texto final.

En primer lugar he eliminado todos los dobles espacios (y alguno más que encontré).

Tu numeración no coincidía con las líneas (correlativa comenzando en 24) pero he ido encontrando todos los detalles.

En "con los que tratar y" pensé en traducir como lidiar pero al final me decanté por t

[2017-05-14 18:10] vgayolrs commented on #62
Muchas gracias a ambos. Solamente falta decidir sobre pequeños detalles de 27, 345 y 359.

[2017-05-14 18:54] ajspadial commented on #62
Si necesitas ayuda no dudes en ponerte en contacto

[2017-05-15 08:06] arojascastro commented on #73
Gracias @mjcolmenero y @LuisinaSilva.

Acabo de hacer una lectura y me parece que está muy bien. He modificado algunas cosillas que he visto referente al usted, pero por lo demás creo que está lista para publicarse.

¿Os parece bien? @LuisinaSilva @mjcolmenero

[2017-05-15 08:11] arojascastro commented on #67
Querida @airun72, ya puedes realizar las modificaciones.

Por favor, corrige las erratas señaladas.

En cuanto a los cambios estilísticos, me parece que en general son razonables y respetuosos. Pero si tienes buenas razones para no introducir algún cambio, publica un mensaje breve aquí para que quede constancia.

Cuando termines con los cambios, por favor, háznoslo saber y procederemos a publicar

[2017-05-15 09:20] mjcolmenero commented on #73
Por mí bien. La última palabra para  @LuisinaSilva.
Saludos y gracias

[2017-05-15 12:51] ianmilligan1 opened #76 "Proposed Lesson:"
The Programming Historian has received the following proposal for a lesson on 'Dealing with Big Data and Network Analysis' by @jgmjgm. The proposed learning outcomes of the lesson are:

In order to promote speedy publication of this important topic, we have agreed to a submission date of no later than June 5, 2017. The author agrees to contact the editor in advance if they need to revise the deadl

[2017-05-15 12:51] ianmilligan1 opened #77 "Proposed Lesson: "Dealing with Big Data and Network Analysis""
The Programming Historian has received the following proposal for a lesson on 'Dealing with Big Data and Network Analysis' by @jgmjgm. The proposed learning outcomes of the lesson are:

In order to promote speedy publication of this important topic, we have agreed to a submission date of no later than June 5, 2017. The author agrees to contact the editor in advance if they need to revise the deadl

[2017-05-15 12:52] #76 closed

[2017-05-15 14:24] airun72 commented on #67
Ya he incorporado todos los cambios indicados.

[2017-05-15 14:56] LuisinaSilva commented on #73
Hola @arojascastro y @mjcolmenero!

Recién la vi y creo que quedó muy bien-

Saludos y estamos en contacto

[2017-05-15 15:35] mariajoafana commented on #61
Hola! Acabo de hacer las correcciones. Muchas gracias a todos. Sobre el asunto de Omeka.net y Omeka.org añadí una nota aclaratoria al comienzo también anotando que la traducción de nuestro tutorial sobre cómo instalar Omeka  que está en proceso. Esto habría que actualizarlo una vez esa traducción este lista. No se si sea mejor omitir esto y así ahorrarnos una edición adicional después.
Añadí ademá

[2017-05-15 18:15] mdlincoln opened #78 "Review Ticket for "Correspondence Analysis for Historical Research with R""
The Programming Historian has received the following tutorial on "Correspondence Analysis for Historical Research with R" by @greebie. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/correspondence-analysis-in-R

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, although you

[2017-05-15 18:15] mdlincoln commented on #71
This submission is now under review at #78

[2017-05-15 18:15] #71 closed

[2017-05-16 13:41] arojascastro commented on #67
@airun72 no veo los cambios, el archivo no se ha modificado desde el 8 de marzo, ¿seguro que los has hecho aquí? https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/traducciones/sparql-datos-abiertos-y-enlazados.md

Si tienes el archivo nuevo en local, puedes enviármelo por email y ya me encargo yo de subirlo donde corresponde.

[2017-05-16 14:45] greebie commented on #78
One formatting issue I am having is that Github does not render Mathjax or any nice formula-producing syntax.  I do not think the formulas are mandatory, but they do make the document look more professional.  Has anyone in the community encountered this issue before and how did you handle it?

[2017-05-16 14:48] arojascastro commented on #73
Hola @mjcolmenero y @LuisinaSilva, he publicado la lección aquí: http://programminghistorian.org/es/lecciones/limpieza-de-datos-con-OpenRefine

Hay un problema con el markdown: el \> no está bloqueando la etiqueta y genera un bloque de texto. Hasta que no lo resuelva, no difundamos la lección, por favor.

@acrymble @wcaleb any idea why \> is not scaping the tag > in this lesson? http://programming

[2017-05-16 15:00] airun72 commented on #67
Sí, aquí
https://github.com/programminghistorian/ph-submissions/edit/gh-pages/es/traducciones/sparql-datos-abiertos-y-enlazados.md

¿Debo clicar el botón "propose file change" que aparece en la parte
inferior?

---
Nuria Rodríguez Ortega
Directora Dpto. Historia del Arte
Universidad de Málaga
Facultad de Filosofía y Letras
Campus de Teatinos, s/n
Málaga, 29071
Telf.: 952 132223 / 952131690
Fax: 95

[2017-05-16 15:07] mdlincoln commented on #78
Good question. I don't believe we've yet had a lesson that needed to use mathjax, but if it looks like we'll really want it for this one, then we might consider adding the necessary javascript to the Programming Historian site. For now, please include all the equation syntax you originally intended to use, and lets see how editing and revisions go. If we do need to add in mathjax, we can incorpora

[2017-05-16 15:12] greebie commented on #78
Okay.  Another option is to add an image for the formulas.  If PH considers more tutorials in R, it may make sense to have some math capability.  In general, I find equations to take away from a paper, but on the other hand, I  wouldn't want to be standing in a VIVA saying "oh I don't know how the statistics work, I just let R do it for me!"

[2017-05-16 15:14] mdlincoln commented on #78
Actually, on closer inspection, it looks like we _do_ have mathjax linked to in our HTML headers... but the implementation may be out of date as I see they've just switched their hosting service. Let me look in to fixing it on our home site as well as on the ph-submissions version.

[2017-05-16 15:17] greebie commented on #78
Okay - assuming things are running as desired, I am willing to draft a quick Mathjax cheatsheet for PH.  (So many flavors to get mathy things in a md.)  Thanks.

[2017-05-16 15:28] mdlincoln commented on #78
OK, I've made two changes:

1. I enabled mathjax on the ph-submissions repo (it was active on our published site, but not this one)
2. I replaced your `$...$` notation with `\\(...\\)` according to http://docs.mathjax.org/en/latest/start.html#tex-and-latex-input

[2017-05-16 16:43] arojascastro commented on #67
@airun72 No acabo de entender qué es lo que ocurre; tienes que hacer un *commit* para que los cambios se guarden y todos tengamos el archivo actualizado.

[2017-05-16 16:53] arojascastro commented on #61
Gracias @mariajoafana. Me parece buena idea poner esa aclaración al principio. Hay que acordarse de actualizar el enlace en el futuro. Solo un par de retoques:

- Poner la nota como destacado y *Nota de la traductora* en femenino (¿?) y en cursiva. *The Programming Historian en español*. Falta *en español*
- sobre Omeka.net que es una plataforma -->  sobre Omeka.net, una plataforma... (para no rep

[2017-05-16 17:01] airun72 commented on #67
No, no lo tengo en local, he introducido directamente los cambios en GitHub. ¿Cómo hago el _commit_?

[2017-05-16 17:01] airun72 commented on #67
Me he dado cuenta de que en la parte superior de la pantalla me aparece este mensaje:

You’re editing a file in a project you don’t have write access to. We’ve created a fork of this project for you to commit your proposed changes to. Submitting a change to this file will write it to a new branch in your fork, so you can send a pull request.

[2017-05-16 17:04] arojascastro commented on #67
Ok, perdona. Te he dado permiso para escribir @airun72. Tienes que aceptar mi invitación. Si no puedes, envía el cambio (submit) y entonces pídenos un pull request para que yo lo apruebe. Lamento las molestias.

[2017-05-16 17:06] airun72 commented on #67
Ok, ya estoy. Entonces, introduzco otra vez los cambios y clico en commit changes, ¿no?

[2017-05-16 17:07] arojascastro commented on #67
Ostras, ¿los has perdido? Lo lamento mucho. ¿Sigue saliendo la opción "pull request"?

[2017-05-16 17:07] airun72 commented on #67
Acabo de crear un pull request, por si es más rápido.

No, no los había perdido, afortunadamente.

[2017-05-16 17:11] arojascastro commented on #67
Ok, perdona, y lo tenemos actualizado. Solo una pequeña pregunta @airun72 : ¿quieres que cambiemos el nombre de archivo *datos abiertos y enlazados* y pase a llamarse *datos abiertos enlazados*? Lo mismo ocurre en el índice y en encabezado de una sección. A mí me parece bien no quitar la *y* pero por unificar...

[2017-05-16 17:23] airun72 commented on #67
Sí, de acuerdo con el argumento de Juan Antonio Pastor, procede
cambiarlo porque parece que la denominación aceptada es "datos abiertos
enlazados", aunque genera una rara construcción en español.

De todos modos, acabo de enviar una consulta a la Fundéu, a ver qué
dicen.

N

---
Nuria Rodríguez Ortega
Directora Dpto. Historia del Arte
Universidad de Málaga
Facultad de Filosofía y Letras
Campus de

[2017-05-16 17:24] arojascastro commented on #67
Ok, pues entonces esperamos @airun72. Aunque si no te parece bien, no hace falta cambiarlo, a mí no me molesta. Escríbime cuando creas que la lección está lista y la publicamos en la web.

[2017-05-16 17:28] airun72 commented on #67
Ok, a la espera de confirmar este dato, estaría ya lista. Te aviso.

N

---
Nuria Rodríguez Ortega
Directora Dpto. Historia del Arte
Universidad de Málaga
Facultad de Filosofía y Letras
Campus de Teatinos, s/n
Málaga, 29071
Telf.: 952 132223 / 952131690
Fax: 952 133441

---------------

Professor and Chair of the Art History Department
University of Málaga (Spain)
Facultad de Filosofía y Letras
Ca

[2017-05-16 17:50] nolauren commented on #60
Thank you for the tutorial. It offers an introduction to data frames, tidy data, and then the kinds of exploratory data analysis possible with dplyr.  While the tutorial offers needed areas of coverage for the Programming Historian, it could benefit from a clearer audience and structure as well as the building out of several areas.  The following feedback is provided to help with these areas.

*Au

[2017-05-16 18:29] ianmilligan1 commented on #60
Wonderful, thanks so much @nolauren. As always it is extremely appreciated, especially given it's such a busy time of the year.

@nabsiddiqui – we now have two reviews. I'll shortly post my own editorial comments, but I think we've got a great pathway forward.

[2017-05-16 18:39] nabsiddiqui commented on #60
Thanks @nolauren and everyone else.  I look forward to your comments @ianmilligan1, and I hope to update the article soon thereafter.

[2017-05-16 18:40] ianmilligan1 commented on #60
Thanks again for your tutorial, and to @greebie and @nolauren for their thoughtful reviews (and to @rogorido's points as well).

I think we've got some good overall pointers from the two reviews. I think it is open to whether you want it to be a beginner or intermediate level. My own gut, given that it requires some prior knowledge and it complements our other introductory R offerings, is that thi

[2017-05-16 18:51] nabsiddiqui commented on #60
Dear Ian,

I am a little bit booked until the end of this month, and then I will be in HILT for the first week of June.  I was hoping to start revising sometime there after.  Unfortunately, that means an end of June time frame.  If that is too late, let me know and I'll see if I can move some stuff around.

[2017-05-16 19:35] ianmilligan1 commented on #60
Sure thing! I completely understand the constraint on our time. Late June works well. Could we commit to getting this submitted by 4 July?

[2017-05-16 19:46] nabsiddiqui commented on #60
Sounds good.  I will aim for that and let you know if anything comes up to delay it.

[2017-05-17 00:38] mdlincoln commented on #78
@greebie On Line 33, the image link seems to be broken.

[2017-05-17 01:36] greebie commented on #78
Apologies.  Minor error in my fix which is now fixed!

[2017-05-17 13:12] walshbr commented on #70
Just an update, since it's May 17th - @jrladd and I have been in contact. They've got a draft ready to give to me in the next couple days, and I'll review it and give an initial round of feedback off-GitHub as requested by the authors. Will transfer to a submission ticket when ready.

[2017-05-17 15:08] arojascastro commented on #73
Ok, solucionado! Gracias @mjcolmenero @LuisinaSilva. Ayudadnos a difundir, por favor.

[2017-05-17 15:08] #73 closed

[2017-05-17 16:01] mdlincoln commented on #78
I only have one editorial note before sending this off to reviewers.

In the introduction, you note "You would like to have a nice 2 x 2 matrix to show these relationships in some non-confusing manner." Most of our readers won't know what a 2 x 2 matrix is... in fact, I am not entirely sure what you meant here either. Is it a plot? A table with numbers?

Clearly state the research results of doing

[2017-05-17 16:59] greebie commented on #78
Thanks Matthew.  I have included slightly different language to describe the "2 x 2 matrix" idea.  The 2 x 2 is popular in business administration literature where correspondence analysis is used quite frequently.  In this case I called it a "2 dimensional plot."

[2017-05-17 17:04] mdlincoln commented on #78
So, a plot with an x and a y axis?

[2017-05-17 17:22] greebie commented on #78
Yes, but with high emphasis on the meaning and interpretation of the four quadrants, thus "matrix."  That said, I don't emphasize interpreting quadrants in this tutorial, so your point is well taken.

Maybe more information on quadrants analysis in the tutorial?  The thing about CA is that interpretation is multi-dimensional as well!  Part of what makes it so powerful imho!

Thanks so much for all

[2017-05-17 18:15] vgayolrs commented on #59
@lozgarrido ¿nos podrías indicar cuánto tiempo tomarás para terminar la revisión de la traducción? Saludos.

[2017-05-18 04:05] mdlincoln commented on #78
OK, that does help clarify.

I think we're in good enough shape to send it off to reviewers, so I'll begin arranging them. Once I have both reviewers set, I'll add an update here with the target deadline for them to submit their formal reviews. [As mentioned in our contribution process, please wait until we get both formal reviews in before beginning any revision work. I will write up my own synth

[2017-05-18 09:42] ettorerizza commented on #69
Very good tutorial ! In paragraph 66, "Values from the same row in other columns can be retrieved using cells['column name'].value. ", it may be worth clarifying that the square brackets notation may be replaced by a dot notation when the column name or the path doesn't contain any space. This makes writing a lot easier, since `value.parseJson()['geonames'][0]['alternateNames'][0]['name']` can be

[2017-05-18 11:28] greebie commented on #78
Thanks Matthew.  Look forward to hearing from the reviewers.

[2017-05-18 11:35] greebie commented on #78
Just flagging that its probably better to include a copy of the json data to programming historian for long-term sustainability. That will require some editing in the text as well.

[2017-05-18 17:02] evanwill commented on #69
thanks @ettorerizza.

I had an aside about bracket versus dot notation plus not using spaces in column and key names in an earlier draft, but ended up removing it to avoid introducing too many concepts at once. Since bracket notation works for all column or key names, I just went with that version to simplify.

I will think about how to get that back in somewhere, because I notice that in paragrap

[2017-05-19 10:01] lozgarrido commented on #59
Buenos días:

Acaba de avisarme @arojascastro: me fui en abril un par de semanas de vacaciones en abril y se me olvidó completamente que estaba esto pendiente. Voy a publicar directamente la revisión (sin explicar los cambios uno a uno) para acelerar.

Las correcciones empecé a hacerlas tal y como las hago cuando trabajo de corrector ortotipográfico y, por lo que he visto en otras correcciones, qu

[2017-05-19 10:28] lozgarrido commented on #59
## Aceder a un elemento del IA en Python

### 24.

### 25.

### 26.

### 27.

### 28.

## Descargar los registros MARC de una colección

### 29.

### 30.

### 31.

### 32.

### 33.

### 34.

### 35.

[2017-05-19 13:40] airun72 commented on #67
En relación con la consulta que teníamos pendiente, Fundéu me remite a http://www.wikilengua.org/index.php/Uni%C3%B3n_de_adjetivos De acuerdo con Wikilengua, lo correcto en español sería "datos abiertos y enlazados", con la conjunción. Pero, efectivamente, la práctica en español es la que indica Juan Antonio Pastor, "datos abiertos enlazados", aparece así en todos los artículos, proyectos, webs, e

[2017-05-19 16:05] jerielizabeth commented on #69
Thank you, @ettorerizza!

A quick status update on the reviews for this lesson -- I am still recruiting reviewers. I have one tentatively agreed, and the twitter appeal has generated a lot of interest, but no volunteers (perhaps @ettorerizza excepted). :) So, still working on it!

[2017-05-20 01:50] shawngraham commented on #75
Just a note, comment left by hypothesis user https://hyp.is/DqxqgDsEEeeY9edgKGCQ5w/programminghistorian.github.io/ph-submissions/lessons/intro-to-twitterbots so I need to change the language appropriately at that point.

[2017-05-20 18:23] arojascastro commented on #67
Acabo de publicar la lección aquí: http://programminghistorian.org/es/lecciones/sparql-datos-abiertos-enlazados

¡Gracias @airun72 y @j-pastor! Cierro este *issue* pero si hay algún problema se puede abrir.

Le daremos difusión a la lección cuando termine el fin de semana.

[2017-05-20 18:23] #67 closed

[2017-05-21 10:13] airun72 commented on #67
Estupendo. Voy a buscar otra que pueda ser de interés para mis estudiantes. Me ha gustado mucho la experiencia.

[2017-05-21 10:15] arojascastro commented on #67
¡Genial! Acaban de publicar otra lección sobre LOD: http://programminghistorian.org/lessons/intro-to-linked-data

No hemos actualizado aún la lista de traducciones, así que mejor consulta la web inglesa.

[2017-05-21 10:31] airun72 commented on #67
Ok!

[2017-05-22 08:04] arojascastro commented on #56
Hola, @mariajoafana y @vgayolrs, María Paula García Mosquera me ha vuelto a escribir interesada. ¿Por qué no le pedimos que revise esta lección? Tienes su contacto, @mariajoafana, ¿verdad? ¿Le escribes tú?

[2017-05-22 16:44] mariajoafana commented on #56
Si, me parece buena idea. Yo me contacto con ella.

[2017-05-23 13:12] mariajoafana commented on #61
Gracias @arojascastro ya hice los cambios. Creo que tienes razón y que la palabra exposición es mejor. Hice el cambio en toda la lección.

[2017-05-23 13:47] arojascastro commented on #61
Entonces está lista para publicar. Me pongo a ello en breve.

[2017-05-24 08:36] arojascastro commented on #61
Hola @aliciacbu y @mariajoafana, la lección ya está publicada: http://programminghistorian.org/es/lecciones/poniendo-omeka-a-funcionar

El índice de lecciones también ha sido actualizado. Cierro este *issue*. Si surge algo más, podemos abrirlo. Por favor, ayudad a difundir la lección.

[2017-05-24 08:36] #61 closed

[2017-05-26 17:23] mdlincoln opened #80 "Move all published lessons into _published directory"

[2017-05-26 17:24] mdlincoln opened #81 "Add editorial guidelines for moving published lessons to _published"
Re: #80

[2017-05-26 17:25] mdlincoln opened #82 "Implement Travis CI checks"
This will wait until https://github.com/programminghistorian/jekyll/issues/426 is complete, so I know it's working correctly on the main site and it can be entirely consistent on this one.

[2017-05-26 17:25] mdlincoln commented on #82
Must be done after #80

[2017-05-26 17:28] mdlincoln commented on #80
All the images should likewise be moved, so that the images directory stays clean for in-progress lessons.

[2017-05-26 18:24] jerielizabeth commented on #69
Update on reviewers: @peggygriesinger is the first reviewer on the lesson, with a review due date of June 16.

[2017-05-27 16:50] wcaleb commented on #80
Closing this now, though I have not addressed the published Spanish lessons.

[2017-05-27 16:50] #80 closed

[2017-05-27 17:01] wcaleb commented on #81
Closed with https://github.com/programminghistorian/jekyll/commit/702ac71896fe5fd1b82b00e47865d1e7b6ce3905.

[2017-05-27 17:01] #81 closed

[2017-05-28 13:23] ianmilligan1 opened #85 "Review Ticket for 'Web Mapping with Python and Leaflet'"
The Programming Historian has received the following tutorial on 'Web Mapping with Python and Leaflet' by @kimpham54. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/mapping-with-python-leaflet

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, although you can structure you

[2017-05-28 13:23] ianmilligan1 commented on #85
The two external reviews and discussion [can be found on this pull request](https://github.com/programminghistorian/jekyll/pull/149).

As we've received two reviews, and revisions have been submitted, I will go through them. I will quickly reach out to the original externals to take a quick look as well, given the time that's passed.

[2017-05-28 13:57] ianmilligan1 commented on #85
@kimpham54 as I tackle that, could you also check out the preview link above and look at any formatting issues? I see that sometimes you have a 3-level heading followed by a code snippet which is rendering odd on Chrome. Perhaps a line of text just introducing might help?

[2017-05-29 22:48] mdlincoln commented on #78
@statsmaths has agreed to serve as one of the peer reviewers for this lesson 🎊  Taylor will be submitting a review by July 1st.

I'll post on here again once I've arranged the second reviewer.

[2017-05-30 15:30] mdlincoln commented on #78
@sandravg has agreed to serve as our other peer reviewer for this lesson 😸

Full disclosure: Sandra and I work together at the Getty Research Institute on a research project.

As a reminder of our process: We will not do any active editing of the lesson until _both_ Taylor and Sandra have had a chance to submit their reviews, _and_ I have written my own summary of the two formal reviews and any ot

[2017-05-31 19:53] kimpham54 commented on #85
@ianmilligan1 thanks for noticing the issue! it's fixed now.

[2017-06-06 02:51] ianmilligan1 opened #87 "Review Ticket for "Dealing with Big Data and Network Analysis""
The Programming Historian has received the following tutorial on 'Dealing with Big Data and Network Analysis' by @jgmjgm. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/dealing-with-big-data-and-network-analysis-using-neo4j-and-python

Please feel free to use the line numbers provided on the preview if that helps with anchoring you

[2017-06-06 02:51] ianmilligan1 commented on #77
Closed and continued in #87

[2017-06-06 02:51] #77 closed

[2017-06-06 02:52] ianmilligan1 commented on #85
Thanks! Just as an update, I've reached out to the reviewers. I think they're currently on the road but I will keep on them. 😄

[2017-06-06 03:03] ianmilligan1 commented on #87
We are resolving some page build errors – once they're fixed, I'll let folks know here.

[2017-06-06 18:38] shawngraham commented on #75
just wondering where we are in the process

[2017-06-06 18:41] JMParr commented on #75
Hi, Shawn-
The tutorial went out for peer review a few weeks ago. I'll send a follow
up to the reviewers to see where things stand.

On Tuesday, June 6, 2017, Shawn Graham <notifications@github.com> wrote:

[2017-06-07 16:41] ianmilligan1 commented on #85
And another update, the reviewers'll take another look by the end of the month!

[2017-06-07 16:55] ianmilligan1 commented on #87
Overall, I really enjoyed this tutorial and had fun working through it. I've pushed up a pull request with some minor edits, but also have these comments here:

* **Difficulty Level**: I think this is probably an intermediate, maybe an advanced, lesson. Thoughts?
* **Platforms**: This is clearly developed for OS X, but should also work on Windows. Can you put some cautionary notes throughout?  Whe

[2017-06-07 19:08] jgmjgm commented on #87
Went through and added these. Thanks for the suggestions.

There really isn't much difference between platforms besides the fact that
the scripts end in .bat on Windows.
Because I added the example data, I added a brief section to encourage the
user to quickly visualize it as well. I want to emphasize that (a) this is
fake and (b) that visualization will help to see problems in data (i.e.
that the

[2017-06-07 23:30] jerielizabeth commented on #69
Update on reviewers: @ljlow has agreed to be the second reviewer on the lesson, with a due date of **June 28**

[2017-06-08 17:11] jerielizabeth commented on #31
Greetings @whanley! I am checking to see if you have had time to work on edits for this lesson and if you are still interested in moving forward.

While we can always reopen it in the future, I will close this ticket on June 15 if I have not heard from you.

[2017-06-08 17:43] ianmilligan1 commented on #87
Line 35: I think average user might have trouble finding this directory. Can you give the path? i.e. `/Applications/Neo4j Community Edition 3.2.1.app/Contents/Resources/app/` holds `bin` for me. Also should they give full path to the CSV files in the command?

When running

[code]

I then got:

[code]

Seems to be an error: https://github.com/neo4j/neo4j/issues/8347.

Is this what I should be doin

[2017-06-08 17:48] ianmilligan1 commented on #87
A few more thoughts:

- Cypher: Make explicit what this is. Is it bundled with Neo4j? A separate download?
- Should they try to do any of the Cypher examples or just read the section?
- Cypher: I went to the localhost:7474/browser/ - but I don't know my password for this? Can you walk people through screenshot by screenshot? By default password is Neo4j. But then how do I find my graph. I am sure

[2017-06-08 19:33] jgmjgm commented on #87
Thanks for catching this. I had to change the classpath in my script. I
simply added

export CLASSPATH=neo4j-desktop-3.1.3.jar:$CLASSPATH

just before the command. I also tend to run it from the ./bin directory.
You may prefer to add the complete path before the command. It seems that
java is just not finding the neo4j jar file. I have no idea why there's a
big discussion about it on the link you

[2017-06-08 20:03] ianmilligan1 commented on #87
I think we should give an overview of the process, but that could be something we ask the reviewers...

[2017-06-08 20:45] jgmjgm commented on #87
Thanks for the suggestions. I've updated some of the images and text.

Was the password issue really confusing? On the web interface it is written
that the default user and password is neo4j/neo4j. Regardless, I've updated
the text anyway and included how to disable the password prompting.

On Thu, Jun 8, 2017 at 4:03 PM, Ian Milligan <notifications@github.com>
wrote:

[2017-06-08 22:29] ianmilligan1 commented on #87
OK sounds good. The goal with a lot of this is to make it fairly user friendly, so I'm just going through this and trying to follow the instructions without too much thinking.

And to confirm, the command

[code]

Should `OurNewDatabase.graphdb` point to the `test.graphdb` that you suggested setting up in the initial one? Or no, it should create a new one, which you then stop the neo4j instance an

[2017-06-09 13:29] jgmjgm commented on #87
An (overly long) aside on the OurNewDatabase.graphdb comment.

Personally, I prefer not to make tutorials too geared towards a single
example. Instead, I prefer descriptive variable names like the one I
provided that explain what something is or does. Similarly, I'm leery about
adding too many "helpful" digressions into the main body of the lesson
(such as the password discussion, dos2unix aside,

[2017-06-09 15:03] ianmilligan1 commented on #87
The approach I tend to take is that we like to have a nice, worked out example – and then people can change things once they want to add their own data, etc. As it stands, just following the instructions, I get to the Neo4j front end and don't have any data. I think we basically want to have a fairly idiot-proof walkthrough with your data, that people could then do again with their own data, and l

[2017-06-09 15:19] walshbr opened #89 "Proposed Lesson: Creating APIs with Python and Flask"
The Programming Historian has received the following proposal for a lesson on 'Creating APIs with Python and Flask' by @smythp. The proposed learning outcomes of the lesson are:

- Readers will learn what an API is and where to use them.
- They will also learn to create a HTTP API using Flask that returns JSON.
- Finally, readers will learn some general best practices for API design and will be ex

[2017-06-09 15:23] jgmjgm commented on #87
"As it stands, just following the instructions, I get to the Neo4j front
end and don't have any data."

Totally confused by this. Data has been added from the beginning. Users can
follow through with every step. Am I missing something?

On Fri, Jun 9, 2017 at 11:03 AM, Ian Milligan <notifications@github.com>
wrote:

[2017-06-09 16:09] ianmilligan1 commented on #87
Now that you've changed the command, it might work. When I ran it last night it wasn't clear to me whether I should change the `neo4j-import` command to point to the database previously created or not. And if I'm getting confused, I suspect our readers will as well. I will try to run this through later today, but am on the road soon so there may be a delay.

[2017-06-10 00:48] jgmjgm commented on #87
That's helpful. Okay, there was a section on loading the database that
should have been moved down a little. When you asked for example data I
added it a little off where it should have been. I think the order is more
sensible now.

Thanks for taking the time to step through it.

On Fri, Jun 9, 2017 at 12:09 PM, Ian Milligan <notifications@github.com>
wrote:

[2017-06-12 16:41] acrymble commented on #75
In the interests of internationalisation and political neutrality, I would like the 'Russian hacker' reference to be changed.

[2017-06-12 16:42] JMParr commented on #75
Fair point.

On Mon, Jun 12, 2017 at 12:41 PM, Adam Crymble <notifications@github.com>
wrote:

[2017-06-12 20:15] jerielizabeth opened #90 "Proposed Lesson: Creating a Scalar project"
The Programming Historian has received a proposal for a lesson on creating a Scalar project / sharing research findings via Scalar.

## Anti-Harassment Policy

This is a statement of the Programming Historian's principles and sets expectations for the tone and style of all correspondence between reviewers, authors, editors, and contributors to our public forums.

[2017-06-13 01:23] shawngraham commented on #75
@acrymble yes, a user via Hypothes.is made the same point. Fair enough.

[2017-06-13 18:23] acrymble opened #91 "Proposed Lesson: Exploratory Data Analysis of a Correspondence Text Corpus"
The Programming Historian has received the following proposal for a lesson on 'Exploratory Data Analysis of a Correspondence Text Corpus with NLTK and NetworkX' by @zoews. The proposed learning outcomes of the lesson are:

-  To introduce readers to natural language processing (NLP) and network analysis techniques to explore textual communication between individuals.
- To identify trends and nuanc

[2017-06-13 18:26] acrymble commented on #70
We've just had a new lesson proposal (#91) that also proposes to use NetworkX. Are you at a stage where you can share the draft text so that we can formulate that lesson to be complementary?

[2017-06-14 12:22] walshbr commented on #70
Thanks @acrymble - just pinged @jrladd by email as well.

[2017-06-14 14:57] jrladd commented on #70
@acrymble Thanks for the heads up. I just sent @walshbr a message that I hope will help with this. Let us know if there's more we can do!

[2017-06-14 15:13] jrladd commented on #70
Here's a list of what we're covering in Python, @acrymble :

- processing network data from CSVs
- creating a NetworkX Graph object and adding data
- adding node and edge attributes
- calculating density, shortest paths, largest components, and diameter
- three types of centrality: degree, betweennness, eigenvector
- modularity with the python-louvain Python package
- exporting data and writing it

[2017-06-14 15:14] walshbr commented on #70
Thanks @jrladd - when you get the draft to me I'll aim for a quick turnaround to you so that we can get up on GitHub as soon as possible.

[2017-06-16 14:08] peggygriesinger commented on #69
This is a fascinating, very well explained, and really useful lesson. I learned a ton, so thank you! I'm already excited to share this with other DH enthusiasts. Overall I think you do a great job of gradually increasing the difficulty. I agree with @jerielizabeth that this should probably be classified as Advanced. My knowledge of OpenRefine definitely helped me perform the more difficult tasks w

[2017-06-16 15:26] jerielizabeth commented on #69
@peggygriesinger Thank you so much for your review!

@evanwill feel free to follow up with @peggygriesinger if you need clarification or would like to discuss possible ways of addressing her suggestions. However, please don't make any changes to the text until we have heard from @ljlow.

Thanks all!

[2017-06-18 09:36] taylor-arnold commented on #78
This tutorial does a nice job of presenting and motivating the technique of correspondence analysis. I personally have not seen it used very much in the humanities but it has the potential to be a powerful technique for historians and other humanists. Here are some comments for possible revision:

- The data should probably be uploaded to the programming historian site rather than your own GitHub

[2017-06-18 20:14] greebie commented on #78
Thanks a million, Taylor not only for the helpful feedback, but also for taking the time to review.  The suggested revisions all seem logical to me.   I like the idea of an "optional" section, perhaps even an appendix to include the math stuff.  Thanks for the comments about the parliaments cases.

[2017-06-18 23:04] mdlincoln commented on #78
@statsmaths Thanks so much for your comments. @greebie just a reminder, we'll hold off on doing any edits to the draft until @sandravg has a chance to post her own review. Once she has submitted, I'll formulate my own summary and then we can get to work.

[2017-06-19 12:24] ljlow commented on #69
@evanwill, what a fantastic lesson. Thank you for writing this! I felt the lesson was well-organized and contained the right amount of screenshots to follow along easily. The lesson also demonstrated why OpenRefine is a valuable tool and the examples provided an introduction to how it could be used in a research workflow.

I feel the difficulty level of the lesson is intermediate. My only experien

[2017-06-19 17:23] evanwill commented on #69
@peggygriesinger and @ljlow thank you for the detailed reviews!
I will work on integrating your suggestions this week.

I appreciate your input and help!

@jerielizabeth am I okay to start pushing changes to the text at this point?

Thank you.

[2017-06-19 17:37] evanwill commented on #69
@ljlow re: ¶ 107  algorithm discussion.

I think this is really important too, and appreciate your discussion--Almost want to paste it directly into the lesson! I don't want to try to explain everything, but just highlight that we need to be critical and investigative to understand what the algorithms offer. I like your suggestion to add that we can also be DIY.

I was originally thinking of inclu

[2017-06-20 20:02] walshbr opened #92 "Review Ticket for Exploring and Analyzing Network Data with Python"
The Programming Historian has received the following tutorial on 'Exploring and Analyzing Network Data with Python' by @jrladd @jmotis and @scottbot. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/exploring-and-analyzing-network-data-with-python

Please feel free to use the line numbers provided on the preview if that helps with an

[2017-06-20 20:04] walshbr commented on #70
@acrymble - the draft is posted now [here](http://programminghistorian.github.io/ph-submissions/lessons/exploring-and-analyzing-network-data-with-python) - moving conversation to the review ticket #92

[2017-06-20 20:04] #70 closed

[2017-06-20 20:06] acrymble commented on #91
Note that the draft of the other group's lesson is available at #92 . @zoews please make sure you take a look at it as you write, to avoid overlap.

[2017-06-20 20:09] cassws commented on #91
@acrymble Will do, thanks!

[2017-06-21 15:00] jerielizabeth commented on #69
Thank you again to both @peggygriesinger and @ljlow for these excellent and helpful reviews.

@evanwill Reading through the review suggestions, I think they are all on point and helpful. My only addition is to note that you are of course welcome to address the concerns noted differently than suggested if you have another way to solve them.

Chiming in on the ¶107 discussion, I like the idea of add

[2017-06-21 15:12] jerielizabeth opened #93 "Proposed Lesson: Named Entity Extraction from Data Collections"
The Programming Historian has received a proposal for a lesson on Named Entity Extraction from data collections.

[2017-06-21 15:55] ianmilligan1 commented on #87
Just a heads up @jgmjgm – I've been on the road since we last chatted. I am hoping to finish my read through pretty soon.

[2017-06-22 02:35] ljlow commented on #69
@evanwill I agree that a detailed discussion on algorithms would distract from the practical flow of the tutorial. I think @jerielizabeth's suggestion of adding a brief sentence framed in the context of a call to keep learning would be a great fit in ¶107. And a link to the NLTK book would certainly fit in a Next Steps section.

re: a concise introduction to text analysis algorithms - Not sure if

[2017-06-23 17:24] ianmilligan1 commented on #60
Just an update: I've chatted with the author and we'll be looking at a late July revision. Looking forward to it!

[2017-06-29 16:47] walshbr opened #94 "Proposed Lesson: Introduction to MEI"
The Programming Historian has received a proposal on an Introduction to the Music Encoding Initiative.

[2017-06-29 16:50] walshbr opened #95 "Proposed Lesson: Wrangling Museum Collection Data with Pandas"
The Programming Historian has received a proposal on 'Wrangling Museum Collection Data with Pandas' by @atiro. The proposed learning outcomes of the lesson are:

* Understanding the collection datasets made available by museums through different forms (API, bulk download, GitHub)
* Understanding basic data analysis functionality available in Pandas and how to wrangle data from museum datasets in i

[2017-06-30 16:50] mdlincoln commented on #78
I've been in touch with @sandravg and we confirmed that she will submit her review here no later than **July 15th**.

[2017-06-30 18:37] greebie commented on #78
Thanks for letting me know!  Look forward to your response, @sandravg !

[2017-06-30 18:53] ianmilligan1 commented on #87
OK great - I've gone through and I think we're ready to send to review. What I'll do over the next few days, @jgmjgm, is reach out to two peer reviewers to take a look though the lesson as well and provide detailed feedback. We'll also invite community contributions. Once we have the reviews, you'll have a chance to review and respond, and we'll be off to the races.

Be in touch soon.

[2017-06-30 20:55] jgmjgm commented on #87
Sounds good. Thanks for following through the lesson.

On Fri, Jun 30, 2017 at 2:53 PM, Ian Milligan <notifications@github.com>
wrote:

[2017-07-03 15:44] walshbr commented on #92
Reviewers have been found for this lesson. @ebeshero and two others will be reviewing - I'll be adding the other two when I get GitHub usernames for them.

[2017-07-03 15:56] walshbr commented on #92
I think this is a really thorough and well-written piece. I learned a lot, and I think our readers will too. I've provided a round of initial and more substantial feedback offline at the authors' request. My one suggestion given there that I would reiterate here was a recommendation to incorporate analysis of the results throughout the lesson rather than predominantly at the end. I think the revis

[2017-07-04 12:44] ianmilligan1 commented on #87
An update. We have one peer reviewer who's agreed to take on the task, and he will have his comments in by the end of the month. Just lining up another one right now. Many thanks!

[2017-07-05 15:11] vgayolrs commented on #59
Hola @lozgarrido , ¿nos podrías indicar si en la parte restante de la traducción has encontrado algún otro punto para corrección o consideras terminada tu revisión? Saludos.

[2017-07-05 21:31] ianmilligan1 commented on #87
And next update. I've lined up a second peer reviewer, who needs a bit more time – but we'll have comments in 6-7 weeks or so. Given the summer and conference season, I think that's perfectly reasonable. Thanks so much for your patience @jgmjgm and I'll really look forward to receiving these comments in due course.

[2017-07-06 17:08] mariajoafana commented on #56
Queridos, @juancobo va a ayudarnos revisando esta la lección.

[2017-07-07 01:59] sandravg commented on #78
@greebie, everyone, here my review, thanks for your patience!

Great lesson that I think it will be very useful for humanists. I appreciate how it demonstrates that working with categorical data can be extremely rich for analysis. Here my comments and suggestions:

- The links throughout the lesson are very helpful, and connect to various topics at different  levels of expertise, so they constitut

[2017-07-07 02:27] greebie commented on #78
Thank you so much @sandravg for your very helpful and thorough review! A lot here that can really improve the lesson.  I want to get right at it but I know that @mdlincoln is going to tell me to wait until he provides his summary. :)

[2017-07-07 03:52] mdlincoln commented on #78
Yes I will, @greebie 😝

Thanks so much @sandravg for all your thoughts, and thanks again to @statsmaths. I'm going to post up a synthesis of everything no later than next Friday (2017-07-14), and then we can proceed.

[2017-07-07 21:03] evanwill commented on #69
Thanks for all the input!
Sorry I haven't had a chance to work on this yet (due to general summer-time-ness), but hope to get going next week.

thank you

[2017-07-10 02:03] mdlincoln commented on #78
These are two great endorsements of your lesson, @greebie, with some excellent advice on how to develop it. Here are my takeaways after reading through both reviews:

1. Given the complexity of CA and the nuance of the interepretation secion, I agree with Taylor that you should start with the data already in tabular format. Users who looked at the [network diagrams lesson on PH](http://www.program

[2017-07-10 16:57] Readywriting commented on #75
Hey everyone! Sorry for the delay on this feedback!

My biggest piece of feedback is that I would personally love to see an "intermediate" bot broken down. You refer to them, and say, well, you can see it and figure it out. But, maybe going through and actually breaking down that process would be helpful for a beginner (like me), where I have long struggled with making that next-step bot. Converse

[2017-07-10 17:01] JMParr commented on #75
Thank you, Lee. Could you elaborate just a bit more specifically on what
sorts of addenda would be helpful. Since we have readers of very diverse
technical skill, I think this would be helpful as far as helping Shawn
figure out just how much elucidation you're looking for, and where you're
getting lost.

On Mon, Jul 10, 2017 at 12:57 PM, Readywriting <notifications@github.com>
wrote:

[2017-07-10 17:30] greebie commented on #78
Thanks Matthew.  4 weeks seems reasonable.  I usually like to front-load this sort of thing, so you may get a revised draft earlier than that.

[2017-07-11 17:43] Readywriting commented on #75
So, nesting and making a more complex bot. I get the initial syntax, but then, if I look at one of the other tracery examples I get completely lost. So, is there a way we can have the idea of "nesting" explained to make more complicated tweets. Breaking down, not just sentences, but paragraphs (understanding they will only be 140 characters).

[2017-07-11 23:35] shawngraham commented on #75
Ah, cool, right. Thanks Lee! I sometimes suffer forest-for-the-trees, so I appreciate this. Lemme see what I can do...

[2017-07-12 02:01] greebie commented on #78
Hi Matthew.  Please bear with me as I work through the changes, but for my own organization, I thought I'd put the notes in as I work on them.

1. As requested, I placed the datasets in csv / tabular format and placed them in assets/correspondence-analysis-in-R/. In the code, I refer to what I imagine would be the correct url once it is published.

2. I moved the mathematical explanations to the a

[2017-07-12 18:38] greebie commented on #78
Hello Matthew,

I think I have addressed all the changes and fixed inconsistencies caused by the revisions.  It is ready for your review now, I believe.

Thank you.

Ryan. .

[2017-07-12 19:52] cassws commented on #91
@acrymble I wanted to provide an update and outline of the draft so far. If you have any feedback or revisions at this point please let me know -- otherwise I'm about 1-2 weeks away from submitting the draft.

In developing the lesson, I relied upon the Pandas library in order to bring text data into a DataFrame structure for robust exploratory analysis and apply transformations to data. I feel th

[2017-07-12 20:34] acrymble commented on #91
Thanks @zoews for this outline. I've got a few initial queries that I'll throw to you for comment, particularly in terms of disambiguating tools from skills, and sustainability.

You know the workflow better than me, but from what I can tell, you plan to:

1. structure some data
2. conduct a sentiment analysis
3. look for some patterns across the corpus based on some variables

One of our big chal

[2017-07-12 21:21] cassws commented on #91
Hi @acrymble , thank you for these notes! I definitely hear you w/r/t long-term sustainability and focusing on teaching critical thinking and research competencies over just the rote process to get there.

I think using CSV data is a great idea for Task 3. And I could certainly exclude the code snippet that generates network analysis calculations (which will themselves be plugged into that pre-cal

[2017-07-13 01:14] shawngraham commented on #75
I've included more information on the way symbols can be nested to create more complex bots or text, including how to save variables for reuse and so on. Trust this makes the lesson clearer. Also switched to 'black hat hackers' in the intro

BTW, the new ProgHist layout is very cool on the live site - kudos!-  but I find it makes reading this lesson in progress kinda hard. Paragraphs used to be nu

[2017-07-13 06:47] acrymble commented on #91
This sounds fine. Just note #95 may take care of your goal to teach the dataFrames.

[2017-07-13 14:22] ianmilligan1 commented on #85
Apologies, the reviewers have run into some snags. I'm now told we'll have reviews in two weeks. Really sorry about this Kim.

[2017-07-13 15:03] kimpham54 commented on #85
@ianmilligan1 thanks for the update, no problem

[2017-07-13 15:37] cassws commented on #91
Ah good to know, thank you. I'll proceed cautiously with Pandas but keep those code portions modular & think about using straight Python instead.. more in a couple of weeks!

[2017-07-14 22:33] mdlincoln commented on #78
I'm working on some much closer line-by-line notes now, but I can't get the TrudeauCPC.csv to work - the column names in the csv do not match up to those that you call in the R code. Update the csv when you have a moment.

[2017-07-14 22:42] mdlincoln commented on #78
In addition to the column names, I think the Trudeau data have changed a bit as well - I'm getting very slightly different results than what you show in the lesson. Run everything again and either update the data, or update the plots and text to make sure that they're consistent with one another.

[2017-07-15 04:34] mdlincoln commented on #82
So, after trying this out, I believe this will cause more issues than it solves. Since multiple lessons will be worked on simultaneously, it will be common for an author/editor to push a change to a lesson, and get back a failing build based on an unfixed error in _another_ lesson. Additionally, any links to as-yet unpublished assets on programminghistrian.org will error out... until they are publ

[2017-07-15 04:34] #82 closed

[2017-07-15 20:28] mdlincoln opened #97 "Update figure.html includes"
The redesign meant some thorough updates to the way that figure.html includes worked, and right now someone trying to write a lesson following our author guidelines will see only broken image links in the lesson previews on ph-submissions. I'll work some more on this.

[2017-07-15 20:29] mdlincoln opened #98 "Restore line numbers to lesson previews"

[2017-07-15 20:38] wcaleb commented on #98
I'm almost done with this.

Sent from my iPhone

[2017-07-15 20:48] wcaleb commented on #97
Are you sure it's not just the avatar at the top that breaks? The previews for current submissions appear to work unless I'm missing something.

Sent from my iPhone

[2017-07-15 21:01] mdlincoln commented on #98
Great! No pressure - I was just marking it here since I knew you were working on it.

[2017-07-15 21:02] mdlincoln commented on #97
The previews work ok if someone is using the `![]()` syntax. However, if they actually follow the author guidelines and use `{% include figure.hml ... %}` then things break down a bit. I noticed the problem when I tried to add the changes to the correspondence analysis lesson I'm editing.

[2017-07-15 21:11] mdlincoln commented on #78
FYI note that I updated the figure syntax with 808e7a353ba3bbc22362d8eaec0e8688d9cbe043 to follow our author guidelines - you'll see that you just need to point to the specific filename, and include a caption.

[2017-07-15 21:12] mdlincoln commented on #97
Closed with d783b0d335c8aa628ad6dce5bffd16a64b5254f3

[2017-07-15 21:12] #97 closed

[2017-07-15 22:29] #98 closed

[2017-07-15 22:32] wcaleb commented on #98
The new containers made it difficult to float the line numbers to the left as before, so I've put them at the end of the paragraph to the right. If this looks too confusing, then I can get back into it and see how better to anchor them to the left.

[2017-07-15 22:37] mdlincoln commented on #78
@greebie you need to rerun _all_ your code from the updated data - I'm now getting the following even on the Harper data, not just the Trudeau data:

[code]
[code]

Once you've updated the lesson, I'll be able to finish my comments.

[2017-07-17 22:57] jerielizabeth opened #99 "Proposed Lesson: Digital Preservation"
The Programming Historian has received a proposal for a lesson on Digital Preservation.

[2017-07-17 23:31] jerielizabeth opened #100 "Proposed Lesson: Getting Started with OJS"
The Programming Historian has received a proposal for a lesson on 'Getting Started with OJS'.

[2017-07-18 08:41] evanwill commented on #69
@peggygriesinger ,

I figured out the issues with `<br>` versus `<br />` in the code and screen shots--the original ebook used `<br>`, but Refine's parser replaces them with `<br />`. I must have rewritten the code snippets after looking at the ebook markup, despite doing it correctly in the screen shots.

To avoid the issue, I replaced all the `<br>` in the ebook file with `<br />`, and updated t

[2017-07-18 08:56] evanwill commented on #69
@jerielizabeth I pushed my edits and a few new screenshots today. I think they clarify all the points raised by the reviewers. I will give it another look over in the next couple days, but I wanted to check in about a few things:

I need to update the link to the ebook ([currently](http://programminghistorian.github.io/ph-submissions/assets/fetch-and-parse-data-with-openrefine/pg1105.html)), which

[2017-07-18 19:38] greebie commented on #78
Okay - I'll take a look.  Should be done by tomorrow.

[2017-07-19 14:15] greebie commented on #78
Hi Matthew.  The issue was that I forgot that R saves strings as Factors by default.  A confusing, but easy to resolve problem.  There was also a problem with labelling in the Trudeau data.  I tested on my system and got the same answer as before.  Note that sometimes the labels will shift around depending on the size of the screen.  The points should be in the correct spots however.

I also inclu

[2017-07-19 22:08] jerielizabeth commented on #69
Thanks, @evanwill! Let me know when you're ready for me to go through one last time for copy editing. For the link, is the ebook the only file which we will be hosting for the lesson? If so, I can update the link when we move the lesson over.

As far as the author data goes, if you would send me a 1 to 2 line bio, I will add it to the necessary files.  You can either add it here or email it to me!

[2017-07-19 22:35] walshbr commented on #92
The reviewers for this lesson will be @anneschao @liqiwei2000 and @ebeshero - looking forward to talking more about the lesson. Let me know if you have any questions about procedures!

[2017-07-20 01:13] evanwill commented on #69
The ebook is the only file, but I wanted to update the screenshots that feature the link (since people to look very closely at the details and I don't want confusion).

[2017-07-20 01:21] evanwill commented on #69
Stock bio:

Evan Peter Williamson is the [Digital Infrastructure Librarian](https://vivo.nkn.uidaho.edu/vivo/display/n43629) at [University of Idaho Library](http://www.lib.uidaho.edu/), working with Data & Digital Services to bring *cool* projects, *enlightening* workshops, and *innovative* services to life. Despite a background in Art History, Classical Studies, and Archives, he always manages t

[2017-07-20 05:17] mdlincoln commented on #78
`stringsAsFactors`!!! *shakes fist*

I'll take a look in the next day or two and then post my notes.

[2017-07-20 08:17] ettorerizza commented on #69
For the sake of completeness, since the tutorial is in the advanced category, I wonder if it would not be worth adding a footnote stating that Jython can only import modules contained in the Python Standard Library (suh as urllib), but that it's also possible to install third-party modules (for instance requests or anything thats not coded in C language, as is unfortunately the case of NLTK) by fo

[2017-07-20 08:41] evanwill opened #101 "figure include is broken"
Just noticed that images are not showing up in submission previews.
The figure.html include is creating image src like:

http://programminghistorian.github.io/images/fetch-and-parse-data-with-openrefine/openrefine.png

i.e. missing `/ph-submissions/` in the url. Should be:

https://programminghistorian.github.io/ph-submissions/images/fetch-and-parse-data-with-openrefine/openrefine.png

[2017-07-20 08:47] evanwill commented on #101
more accurately, the figure.html include is creating:

[code]

so the src is an incorrect relative link.

[2017-07-20 08:52] evanwill commented on #69
thanks @ettorerizza, agreed:

However, it is already there! Look in the blockquote box below the intro to Example 3 (paragraph 92).

[2017-07-20 08:57] arojascastro commented on #56
Hola @mariajoafana si neceistas otro revisor, tengo una candidata... let me know ;)

[2017-07-20 09:08] evanwill commented on #101
The `_include/figure.html` is using the variable `site.baseurl` which is defined as `baseurl: ""` in `_config.yml`. Furthermore, `_config.yml` sets `url: http://programminghistorian.org` which should be https://programminghistorian.github.io/ph-submissions/

Something happened during this big commit 3427a4868feb505e353a43b3a02b52249701df20

[2017-07-20 12:33] jerielizabeth commented on #101
Hi Evan,

I think we changed the image syntax with the new redesign. I think the
author guidelines have been updated but I'll try to take a look this
evening and get back to you with the new format if not!

On Thu, Jul 20, 2017 at 5:08 AM EvanWill <notifications@github.com> wrote:

--
--
Jeri E. Wieringa
PhD Candidate, Department of History and Art History
George Mason University
www.jeriwieringa.

[2017-07-20 12:59] wcaleb commented on #101
Pinging @mdlincoln, just because he was last to change figure include. And hasn't had enough PH troubleshooting in the last 24 hours. ;-)

I'm away from computer or else I would take a look myself.

[2017-07-20 15:11] mdlincoln commented on #101
This should be fixed now. When migrating changes over from the published site, we accidentally overwrote the `baseurl: /ph-submissions` entry in this repo's config. Sorry about that!

[2017-07-20 15:11] #101 closed

[2017-07-20 16:36] anneschao commented on #92
@jrladd Hi John, Do you mind telling us (Qiwei and I) where we can find the data set for Society of Friends?

[2017-07-20 17:46] juancobo commented on #56
Hola a todos. Acá van mis comentarios, por favor disculpen el retraso.

4 Falta la segunda raya parentética al final del párrafo: “—si alguna vez has intentado abrir un documento guardado en un formato … que implican—.“. También deberían ser rayas (“—“) en vez de guiones (“-“).

9 Sugiero “Verás que mientras que el panel de la derecha cuenta con una presentación más elegante del texto, el archivo

[2017-07-20 17:59] mariajoafana commented on #56
Muchas gracias @juancobo
@vgayolrs , todo tuyo para hacer las correcciones del caso

[2017-07-21 02:52] evanwill commented on #69
@jerielizabeth I am done with my author revision / edits.

Let me know if there is anything else I can improve.

Thank you to everyone (@ettorerizza , @peggygriesinger, @ljlow ) for the helpful reviews and comments.

[2017-07-21 15:22] mdlincoln commented on #78
I'll post my full comments right after this, but re: the differences in the plot - it's not an issue of label layout. On my machine at least, the Trudeau data is producing inverses of the plots you've posted. The points are all in the same _relative_ positions, but `CA` has somehow decided to invert the signs on its multidimensional scaling. I've posted the exact results I get from re-running your

[2017-07-21 15:44] mdlincoln commented on #78
You have done a good job of addressing many of the reviewers comments. I still think you could clarify both the introduction as well as the interpretation section a bit more, particularly in order to address Sandra's critiques.

I'll first offer some general comments, and then some section-by-section notes. Please don't be disheartened by the length of this review! Most of the information is alrea

[2017-07-21 22:42] JMParr opened #102 "Review Ticket for Geospatial Data Analysis"
The Programming Historian has received the following proposal for a lesson on 'Geospatial Data Analysis' by @ladew222. The proposed learning outcomes of the lesson are:

- To learn how to use geographic data to analyze historical movements
- To learn how to obtain historical census data in R
- To learn how to merge this public data with other historical data.
- To learn how to visualize the insigh

[2017-07-22 07:47] acrymble commented on #102
i think you have an extra lesson title in there by mistake: "The Programming Historian has received the following tutorial on 'Editing Audio with Audacity' by @ladew222."

[2017-07-23 04:21] ebeshero commented on #92
Yes, please--It looks like these files we're to work with in the tutorial are missing download links:
quakers_nodelist.csv
quakers_edgelist.csv

@walshbr @jmotis @scottbot @jrladd

[2017-07-23 13:23] walshbr commented on #92
Sorry I missed this - was working from a different local copy than the live staging repository. @jrladd you can place those files in assets/lesson-name. I committed empty files to that effect that you can fill in here - https://github.com/programminghistorian/ph-submissions/commit/27d674caea75247b91ccb54f3e99ce5137b868a3. So you'll just need to overwrite the files that live at these two paths:

-

[2017-07-23 16:17] jrladd commented on #92
I'm sorry I missed this message earlier in the week! I'll post the files as soon as I'm back at a computer later today.

[2017-07-23 17:19] nabsiddiqui commented on #60
Hello all,

I now revised the submissions and noted my changes below.  Thank you again for the initial feedback, and please let me know if there is anything else you would like to see revised further.

Based on requests by @nolauren :

1. Assumed a more intermediate and consistent audience
2. Removed the material on data frames, although it was mentioned that it should be kept by @nolauren  and re

[2017-07-24 02:22] jrladd commented on #92
@anneschao @ebeshero I just posted the data in the asset folder that @walshbr described. Happy to make adjustments if that's not working, or if there's anything else you need.

[2017-07-24 12:33] walshbr commented on #92
Thanks @jrladd! I would also link to them from the text of the lesson itself. Paragraph 8 makes a lot of sense. Let us know when you get a chance to do so that the reviewers know they can get going.

[2017-07-24 13:22] ianmilligan1 commented on #60
Hi @nabsiddiqui –

Thanks so much for your thoughtful revisions, which I think work really well. In particular, I think adding in your own important function works well; cleaning up some of the prose based on the peer review requests, and I think after working through the lesson again it works without the data frames section. I think the dplyr focus works well. You did an excellent job of talking

[2017-07-24 13:35] jrladd commented on #92
Okay, I added some download links. They take you to the github page for each file, rather than download it directly. @walshbr do you know how to get a direct download link?

[2017-07-24 13:45] walshbr commented on #92
@jrladd try modifying the beginning of the path to be "../assets/" instead of "/assets/" in each case.

[2017-07-24 14:01] jrladd commented on #92
@walshbr So adjusting the path in that way sent me to the same Github page, but I think I was able to get it by adding a link to the "raw" version of the file. @ebeshero @anneschao If you try it now you should be able to save both CSV files locally and work with them. Both links are in paragraph 8.

[2017-07-24 16:41] jerielizabeth opened #103 "Proposed Lesson: Topic Modeling with R"
The Programming Historian has received a lesson proposal on Topic Modeling with R.

[2017-07-24 16:42] jerielizabeth opened #104 "Proposed Lesson: Word-Embedding in R"
The Programming Historian has received a lesson proposal on Word-Embedding in R.

[2017-07-24 17:08] jerielizabeth commented on #69
Thank you, @evanwill! I will do my final editorial check this week. Are you comfortable receiving minor edits (should there be any) via a pull request?

[2017-07-24 19:27] evanwill commented on #69
yep, thanks @jerielizabeth

[2017-07-25 04:09] mdlincoln commented on #78
@greebie sorry, I ought to have asked this in my previous comment: Do you think you would be able to send in revisions by August 25? I'll be away from PH duties August 6-20, so there's no enormous rush on these revisions - especially since I gave you a fair amount to do. Please let me know what you think.

[2017-07-25 14:00] greebie commented on #78
@mdlincoln Yes no worries.  I might try to front load the changes to get this off my mind.  If this is the case, I will have no particular expectation that you should reply by the 20th.  It's summer!  R&R is still much more important than my soon-to-be masterpiece!   :)

As for the graphs, this is common and is unlikely to do with your R version.  In general, the way plots are produced for many ne

[2017-07-25 15:10] mdlincoln commented on #78
Use `set.seed()`, and just briefly explain that the CA is a semi-random process.

[2017-07-26 15:40] nabsiddiqui commented on #60
@ianmilligan1

1. Paragraph 9-I will go ahead and add a line stating the way to enter RStudio commands.
2. Paragraph 11- The paragraph currently reads "Since the data is in a csv file, we are going to use the read_csv() command in tidyverse’s readr package, which takes the **path of a file** we want to import from as a variable."  Should I make it more explicit in the code itself or reword this?
3

[2017-07-26 15:50] ianmilligan1 commented on #60
Great. I think it should be a bit more explicit in the code, and reword to be more explicit – we often get feedback from readers when something doesn't work, even if they've been told to change the path. So as clear as possible is always best.

And this all sounds great. Let me know when it's ready, and feel free to push up to the repo or e-mail for me and I can do it. Whatever is easiest on your

[2017-07-26 17:33] fdlaramee commented on #87
Greetings Jon!

Here is my peer review report.

First of all, thank you for taking on this project. Production pipelines rarely receive the attention that they deserve considering how much time and effort goes into setting them up. I have no doubt that this lesson will prove quite useful.

Second, although I have written down many (many) suggestions, by no means do I expect all of them to be imple

[2017-07-26 18:12] ianmilligan1 commented on #87
Thanks so much @fdlaramee!

@jgmjgm, feel free to begin thinking about these comments. That said, we still have one more review coming in, although due to holiday season and DH 2017 it won't be in for a few more weeks.

[2017-07-27 14:09] shawngraham commented on #85
Hi folks - I've annotated the lesson with the bits and bobs where things could be clarified, expanded, or fixed. Now, I'm on a mac, so I can't speak to whether the windows bits do what they need to do. Please see my annotations in context at [this hypothesis-enabled vision of the lesson](https://via.hypothes.is/https://programminghistorian.github.io/ph-submissions/lessons/mapping-with-python-leafl

[2017-07-27 14:12] shawngraham commented on #85
Hi,

Please find my annotations on the lesson at [this annotated layer](https://via.hypothes.is/https://programminghistorian.github.io/ph-submissions/lessons/mapping-with-python-leaflet)

This is a very clear and straightforward introduction to webmapping, and a welcome addition to the programming historian. I only ran into some minor snags - eg the [missing geolocator line](https://hyp.is/FZbx8HJ

[2017-07-27 17:39] JMParr commented on #102
Whoops. Thanks, @acrymble - I've fixed it now.

[2017-07-27 23:11] ianmilligan1 commented on #60
OK @nabsiddiqui ,I've updated the code.

A few more things:
- can you do a final proof, please let me know any errors you catch;
- we'll need a little image. Either of these: [wrangling](https://www.flickr.com/photos/internetarchivebookimages/14598283547/in/photolist-of126V-owdB3j-odkKAb-ocde6k-occNJg-wNTwps-ouHvQR-odhkSL-odferw-of21ox-owgRbU-oyave8-odskMA-ow9Hdo-ouzGsf-ouAKd6-ouDKdX-ouJia5-obMCxo

[2017-07-27 23:15] ianmilligan1 commented on #85
Wonderful, thanks @shawngraham – @kimpham54 it might be easiest for you to use the hypothesis plugin to navigate this, let me know if you have any questions.

@jburnford has finished his review and will be posting it shortly. I'll then make a few quick comments and I think we'll be in final revision territory!

[2017-07-28 15:49] acrymble commented on #75
Hi @shawngraham, thanks for this tutorial and sorry you've had to wait so long for a second review. It's an interesting public history/public humanities approach that I'm sure a number of people will find useful. I've read through this and I have a number of comments, mostly to do with the language. I've used paragraph numbers (thanks for pointing out the problem with the new design).

# Minor poi

[2017-07-28 19:02] nabsiddiqui commented on #60
@ianmilligan1

It looks good to me.  I really like the soap image actually so lets go ahead and go with that.  As for the bio:

"Nabeel Siddiqui is a doctoral candidate in American Studies at the College of William and Mary, where he is also an inaugural fellow of the Digital Equality Lab. His research focuses broadly on the relationship between the humanities and computation, with a particular ex

[2017-07-28 19:21] ianmilligan1 commented on #60
OK great, thanks @nabsiddiqui – I'll start migrating it, probably over the weekend or early next week – we'll do one final check-through once it's on the production site, and then we'll be off to the races. Talk soon.

[2017-07-28 20:12] ianmilligan1 commented on #60
Turns out our infant's nap time is especially productive this afternoon. Here's a preview of it over on the live site!

https://programminghistorian.org/lessons/data_wrangling_and_management_in_R

Let me know thoughts @nabsiddiqui, and then we'll start publicizing it on Monday. 🎉

[2017-07-28 20:18] nabsiddiqui commented on #60
Looks awesome @ianmilligan1 !  Let me know if you need me to do anything further.      Thanks again for all your help.

[2017-07-28 20:25] ianmilligan1 commented on #60
Actually @nabsiddiqui – a quick thing. We caught this on the build on the main site, a broken link for <https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html>. Any thoughts on a sustainable replacement?

[2017-07-28 20:29] mdlincoln commented on #60
(excuse my chiming in) This was the replacement vignette in a recent major version change for dplyr: https://cran.rstudio.com/web/packages/dplyr/vignettes/dplyr.html

[2017-07-28 20:31] mdlincoln commented on #60
PS I am super excited that we now have a proper dplyr lesson on _PH_ 💯

[2017-07-28 20:32] ianmilligan1 commented on #60
Awesome, thanks @mdlincoln – I'll update the link (let me know if that's not ok @nabsiddiqui!). And yes, I'm super excited too. 😄

[2017-07-28 20:41] nabsiddiqui commented on #60
Sounds good to me.  Thanks @mdlincoln for the kind words and the updated link.

[2017-07-28 23:55] shawngraham commented on #75
Thanks @acrymble . some really good points. I'll see how I can roll these things into my text, thanks!

[2017-07-29 13:27] vgayolrs commented on #62
@arojascastro , perdón por el retraso. Corregidas las líneas 27 y 345. Sobre 359 y subsiguientes, me parece muy buena la propuesta de @ajspadial , pero significa cambiar mucho con respecto al original en inglés donde se ha esplegado la lista de comandos y funciones utilizando el "*". Si no tienes inconveniente como editor, procedo a cambiarla toda.

[2017-07-29 13:51] vgayolrs commented on #56
¡Muchas gracias @mariajoafana y @juancobo  por sus observaciones! @mariajoafana , ya quedó todo corregido salvo el asunto marcado como "58" respecto a la adición de un subtítulo. Considero que si el original en inglés no lo lleva, podemos obviarlo. Sin embargo lo pongo a tu consideración como editora de la traducción. Por lo demás, se atendió el resto de las observaciones.

[2017-07-29 13:52] arojascastro commented on #62
Gracias @vgayolrs, creo que podemos publicar sin ese cambio, si la lección funciona y es correcto. Así que adelante, por favor, introduce los cambios que creas convenientes. Gracias @ajspadial por tu revisión.

[2017-07-29 14:01] vgayolrs commented on #62
@arojascastro : los demás cambios ya están hechos. Así que, cuando quieras, es publicable.

[2017-07-29 15:03] arojascastro commented on #62
Lección publicada: https://programminghistorian.org/es/lecciones/introduccion-a-bash

Gracias @vgayolrs y @ajspadial - por favor, difundid :)

[2017-07-29 15:03] #62 closed

[2017-07-30 17:23] jerielizabeth commented on #103
Draft submission due date: October 23, 2017.

[2017-07-30 17:40] jerielizabeth opened #105 "Proposed Lesson: Getting Started with Anaconda and Jupyter"
_The Programming Historian_ has received a proposal for a lesson on Getting Started with Anaconda and Jupyter.

[2017-07-30 17:53] jerielizabeth commented on #100
Referred to Code4Lib or DH+Lib as a better fit for lesson topic.

[2017-07-31 08:31] juancobo commented on #56
¡Buenísimo, @vgayolrs!

Lo del punto 58 lo sugerí porque el subtítulo sí está en el original en Inglés pero está ausente en la traducción.

[2017-07-31 12:24] walshbr opened #106 "Review Ticket for Creating APIs with Python and Flask"
The Programming Historian has received the following tutorial on 'Creating APIs with Python and Flask' by @smythp. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/creating-apis-with-python-and-flask

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, although you can structur

[2017-07-31 12:25] walshbr commented on #89
Closing as this lesson is now submitted in draft form. Moving to review ticket at #106

[2017-07-31 12:25] #89 closed

[2017-07-31 13:00] vgayolrs commented on #56
¡LLevas razón @juancobo !  Insertado subtítulo.
@mariajoafana : listo.

[2017-07-31 14:23] ianmilligan1 commented on #60
And hazzah, we're now published.

Thanks @nabsiddiqui for the lesson, and thanks to @nolauren and @greebie for their wonderful peer review comments. I'll begin the publicity, @nabsiddiqui, and any signal boosts much appreciated.

[2017-07-31 14:23] #60 closed

[2017-07-31 15:23] mdlincoln commented on #60
FYI there's an issue with one of the CSVs for this lesson (they should all be hosted within our repo anyway)

https://github.com/programminghistorian/jekyll/issues/543

[2017-07-31 15:31] ianmilligan1 commented on #60
Yes. I am working on this.

[2017-07-31 16:52] mariajoafana commented on #56
Muchas gracias a todos. La lección ya está al aire (https://programminghistorian.org/es/lecciones/introduccion-a-markdown) Sin embargo, ya actualicé el authors.yml con la biografía de la autora en español, pero no se está mostrando en la página. @vgayolrs ¿alguna idea de cómo arreglar esto?

[2017-07-31 17:58] vgayolrs commented on #56
Hola @mariajoafana , intento arreglar esto. Sin embargo, ¿no debería ser: "... es SIG, geógrafa y bibliotecaria de Informática en la Universidad de Ottawa"?

[2017-07-31 19:26] shawngraham commented on #75
Regarding sustainability, it is possible to make a twitter bot powered by tracery, python, tweety, and so on: but that's a whole other lesson. Would it be fine to just point towards something like this https://botwiki.org/tutorials/twitterbots/ ?

[2017-07-31 20:50] cassws commented on #91
@acrymble and all: The draft submission is almost complete, but still working on finalizing some of the language. Is it acceptable to submit it by Wednesday morning instead of today? Thank you for your patience.

[2017-07-31 21:10] mariajoafana commented on #56
Yo lo leí como que Sarah Simpkin es bibliotecaria de las tres cosas: SIG, geografía e informática

[2017-07-31 21:53] shawngraham commented on #75
I do want to make the point that I think programming for historians can and should involve whimsy and creativity, to push what digital history could be, and not necessarily be about outreach when it's not about analysis. I mean, I had no idea what somebody might do with sonification, but then Jim's student blew us all away with where he ran with it.

[2017-08-01 04:15] vgayolrs commented on #56
@mariajoafana , ya está corregido el error. Puedes cerrar el ticket cuando quieras.

[2017-08-01 14:55] anneschao commented on #92
@jrladd Qiwei and I have finished reviewing your lesson. Your codes are well written and the instructions and explanations are really great. Our enclosed comments are really more cosmetic, designed to ease a beginner into using Python.
[Chao and Li comments on Python and Networks.docx](https://github.com/programminghistorian/ph-submissions/files/1190968/Chao.and.Li.comments.on.Python.and.Networks.

[2017-08-01 14:57] walshbr commented on #92
Thanks @anneschao - would you mind pulling those notes out of the word document and listing them in a comment directly on the thread? GitHub doesn't play so well with things other than plain text, and it'd be good to document the conversation in a way that the GH system can handle.

[2017-08-01 15:01] anneschao commented on #92
OK, will do asap!

[2017-08-01 15:02] anneschao commented on #92
@walshbr @jrladd
Here are our comments, thanks!
1.	In the beginning, please tell us what computer you are using, so that we have an idea of the amount of time it takes to perform the operation.
2.	Also, at the start please point the user to IDLE as a Python workstation.
3.	After that, please let the user know that he/she needs to start a new file or a new module in order to begin.
4.	Line 17, in t

[2017-08-01 15:03] walshbr commented on #92
Thanks @anneschao! And @jrladd - if you would, wait until we get the last review in to make changes to the lesson. That way we can make sure that the other reviewer is looking at a consistent version and that we can have any necessary conversation.

[2017-08-01 15:05] jrladd commented on #92
Sounds good, @walshbr. And thanks for the helpful feedback, @anneschao and @liqiwei2000!

[2017-08-01 15:07] mdlincoln opened #107 "Proposed lesson: Data visualization with R and ggplot2"
The Programming Historian has received the following proposal for a lesson on 'Data visualization with R and ggplot2'. The proposed learning outcomes of the lesson are:

- harvesting data using SPARQL
- visualizing different aspects of it using ggplot2

The main editorial contact for this lesson is @mdlincoln. If there are any concerns from the authors they can contact the Ombudsperson @ianmilliga

[2017-08-01 15:08] mdlincoln commented on #107
(This is a much-delayed proposal that we got earlier in the year. I've actually got a full draft in my inbox now, but I want to review it before posting as a formal submission, and I'm going to be on vacation until August 20. I've checked with the author and they're aware of this schedule)

[2017-08-01 15:35] walshbr commented on #106
I'll take a look at this in the next week and reach out to reviewers. Looking forward!

[2017-08-01 21:03] JMParr commented on #75
@shawngraham I am satisfied with pointing to another tutorial, although you're certainly welcome to propose additional lessons if you're inclined.

And thank you to both @acrymble and @ruebot for their reviews.

[2017-08-02 02:07] shawngraham commented on #75
Thank you @ruebot! Also, @JMParr I'll point out to other resources; with my crafting digital history course on right now, I'm all tutorial'd-out

[2017-08-02 14:12] jburnford commented on #85
I’ve read through the lesson and don’t have any objections to publishing
it. The Leaflet section is improved and provides a good basic introduction
to this tool.  I really like all of the exercises that include solutions.
The lesson does a lot, ranging from pip and pandas to launching a website
on a server with a map. I raised a few concerns with the lack of depth as
the author plowed through all

[2017-08-02 14:30] mariajoafana commented on #56
Perfecto, gracias @vgayolrs y @juancobo Ya se puede difundir el tutorial. Voy a cerrar esto ya, cualquier cosa que surja lo podemos reabrir.

[2017-08-02 18:47] ianmilligan1 commented on #85
Thanks both. Sincerely appreciate the renewed engagement @jburnford and @shawngraham!

@kimpham54 - I've had a chance to go through both revised reviews, and there's a lot of enthusiasm. I think the next step should be to go through @shawngraham's hypothesis comments... any issues accessing those?

Any chance you could find time in the next two weeks to do so (say by 16 August 2017). Then I'll go

[2017-08-02 20:00] cassws commented on #91
@acrymble I'm ready to submit the draft! However, it doesn't appear I have permissions to upload to the to the https://github.com/programminghistorian/ph-submissions/tree/gh-pages/lessons directory. Could I be granted access to that folder, or alternatively should I upload them elsewhere or e-mail them? Thank you.

[2017-08-02 22:28] mdlincoln commented on #91
@zoews I've just given you write access to this repository, so you should be able to add your draft now.

[2017-08-03 00:05] cassws commented on #91
@mdlincoln thank you for the permissions invite!

The lesson is now up and running on the preview site: http://programminghistorian.github.io/ph-submissions/lessons/exploratory-data-analysis-with-nlp

Please note that, in addition to installing a few dependencies along the way, the tutorial will ask readers to install a copy of the Enron email corpus (which is ~2GB and currently stored off-site) a

[2017-08-03 09:55] acrymble opened #108 "Review Ticket: Exploratory Data Analysis of a Correspondence Text Corpus"
The Programming Historian has received the following tutorial on 'Exploratory Data Analysis of a Correspondence Text Corpus' by @zoews. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/exploratory-data-analysis-with-nlp

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, altho

[2017-08-03 09:56] acrymble commented on #91
This has been moved to a review ticket: #108

[2017-08-03 09:56] #91 closed

[2017-08-03 11:19] acrymble commented on #108
@zoews I've had a chance to read through the lesson, but not try the code (I can't download 2GB at the moment because my internet is running off my phone).

I really liked this tutorial, and I think it's a fantastic example of using digital approaches to help directly with the research process. I also hope we'll see your published research based on these approaches in the near future.

I've got a

[2017-08-03 14:21] kimpham54 commented on #85
@ianmilligan1 @jburnford @shawngraham Thank you everyone for your comments and suggestions. I have some time tomorrow then after the 13th to make revisions. Will keep you updated!

[2017-08-03 14:32] mariajoafana commented on #56
@vgayolrs Reabro esto pues encontré algo que hay que cambiar. En el código que está entre las líneas 186 y 194 los tres acentos graves ``` no están apareciendo.

[2017-08-03 16:25] cassws commented on #108
@acrymble : thank you so much for your feedback! I'm glad to hear of your overall impression and happy to elaborate on the issues your raised:

1. The Federal Energy Regulatory Commission initially released the e-mails as a public disclosure in its Enron investigation, intended for public record/public domain data. There were a number of privacy issues in the initial release, and after a back-and-

[2017-08-03 21:02] cassws commented on #108
I will also go through and make the paragraph-by-paragraph edits but it will take me a few more days -- I'll plan to complete them by end of Monday of next week.

[2017-08-04 08:58] acrymble commented on #108
I do think 2 lessons here is a better idea. I can see value for some people wanting one skill and not the other. I hope that isn't too much extra work. It looks like a fairly clean break to me. We can either progress with one at a time or both concurrently if you'd like. I'll have to think about what that means for reviewers.

[2017-08-04 20:08] walshbr commented on #106
Thanks for this, @smythp! I think this is useful in a lot of ways. In particular, your thoughts about API design are compelling, as are your explanations of the concepts that lie underneath it all.

My main thoughts have to do with reorganizing things slightly and more clearly crafting the API so that it serves a particular case study. In particular, I would try to break apart some of the longer c

[2017-08-04 21:47] cassws commented on #108
Okay definitely, that makes a lot of sense. That would also help me be a little more deliberate about the difficulty/complexity level for each part, as you noted with Python code along the way.

It sounds like, regardless of whether you decide on concurrent or sequential editing processes, the next step is still to make the edits you've mentioned above -- I will follow up end of Monday with those

[2017-08-04 22:50] jerielizabeth commented on #69
Hi @evanwill! I am working on the final editing pass  - sorry for the delay. In addition, I just found a bug with pulling the file down from our server that we're working to fix. But I should have the final edits to you soon.

[2017-08-05 23:29] ebeshero commented on #92
Just a quick ping to say I'm working on this right now and sorry for the delay! @walshbr

[2017-08-06 03:18] ebeshero commented on #92
@jrladd @jmotis @scottbot @walshbr and @anneschao Thanks for the opportunity to review this really terrific tutorial!

First, a question and a comment for the first reviewer (@anneschao) : Why recommend IDLE in particular for this tutorial? There doesn't seem to be a need to use any particular Python IDE, and the user might well run this out of a Jupyter notebook or wherever comfortable. I did eve

[2017-08-06 07:11] evanwill commented on #69
In my last commit I changed the sonnets download link to what should be it's future home on the main site, so it won't work until the lesson is pushed over there, is that what you mean?

[2017-08-06 15:51] walshbr commented on #92
Thanks so much @anneschao and @ebeshero for the great and thorough reviews. I appreciate the lively engagement, and feel free to use this thread to engage one another in conversation about any of the points. I'm happy to answer any questions as well. I especially think the suggestions about regulating readers' expectations about the kinds of work and output they'll be getting are useful.  Also lik

[2017-08-06 16:40] jerielizabeth commented on #69
@evanwill Thank you! not quite -- I moved the file over ahead of the lesson to do one last check. We made a recent change to our servers to go to https and it had the unexpected consequence of blocking traffic from Refine. All is well now.

I just submitted a pull request with some final edits. In addition, in ¶2: "programming concepts" is a bit too big to be useful. Are there particular concepts

[2017-08-06 16:46] jerielizabeth commented on #69
Thoughts on images for the lesson:

https://flic.kr/p/oegZJw
https://flic.kr/p/oxLVzZ

I feel like distilling is a good metaphor here :D

[2017-08-06 21:14] smythp commented on #106
Hi Brandon,

Excellent and clear suggestions, I'm looking forward to digging into this. A number of these I was also concerned about, but was afraid of making the article too long. I should be able to get a new version in the week after DH. Perhaps I'll see you in Montreal!

Best,
Patrick

[2017-08-07 07:58] evanwill commented on #69
@jerielizabeth thank you for the final edits--very helpful little details!

I love the distilling image idea, I think image one, https://flic.kr/p/oegZJw

I pushed three little final commits:
- updated one spot about removing a column, where it referred to using the "All" menu, but should have been just the column menu.
- updated my full name
- tweaked the pre-req section "programming concepts"--w

[2017-08-07 13:25] walshbr commented on #106
Same! Would love to say hello if you find time.

[2017-08-07 20:25] jrladd commented on #92
Thanks very much for your comments, @ebeshero! I look forward to coming back to this discussion as we revise, beginning tomorrow. I'll let you all know when a new draft is posted.

I'm sure other questions will come up as we work, but to your final point about Paragraph 80, I do think you're right that we exaggerated a bit. For me, the payoff to using a programming language rather than a GUI is th

[2017-08-07 22:21] walshbr commented on #92
I think it's fine to point people using R in a particular direction. It sounds like you're already prepared to be careful not to let the discussion get too sidetracked, which is the only concern I would have. I'm happy to take a look at some text if you want feedback on an addition though.

[2017-08-08 03:24] jerielizabeth commented on #105
Submission deadline set for October 30, 2017

[2017-08-09 18:12] shawngraham commented on #75
- i've integrated nick's suggestions
- i've taken on board much of what adam has said
- as for colloquial tone, i've formalized to a degree.
- this is as good as it's getting I fear.
- so i'm ready for it to go live if you are.

[2017-08-15 19:58] ianmilligan1 commented on #85
Merged the PR, @kimpham54 – ready for me to take a gander?

[2017-08-16 17:19] kimpham54 commented on #85
@ianmilligan1 Yes, please do. Thank you!

[2017-08-16 18:32] jerielizabeth commented on #69
Hi @evanwill! the updates look good to me. I think we can leave the general concepts without a link for now (I am also hesitant about linking to a draft lesson.)

An update on the publishing front: I seem to have triggered some sort of error on our primary site and it is not building at the moment. However, as soon as that is back up and working, we should be rolling out the lesson.

[2017-08-16 19:09] mdlincoln commented on #69
It hardly seems to be @jerielizabeth's doing! But GitHub is looking in to it -@evanwill you can keep tabs on the conversation here: https://github.com/programminghistorian/jekyll/issues/565

[2017-08-17 16:35] evanwill commented on #69
oh boy, always a bit of excitement....
thanks!

[2017-08-17 19:31] ianmilligan1 commented on #85
Just working through this @kimpham54 (on baby nap time). I've run into a roadblock. When running:

[code]

I get the error:

[code]

Thoughts? I've gone through all the pip installs.

[2017-08-17 19:44] jbartonthomas commented on #85
It looks like maybe instantiating the geocoder got skipped. Also, if I'm
reading this correctly, this code is also geocoding every point twice. I
guess points probably get cached, but I think it would still be better to
only run that once, then run your applies to pull out lat and long for your
pts.

Jewell

On Thursday, August 17, 2017, Ian Milligan <notifications@github.com> wrote:

[2017-08-18 13:58] ianmilligan1 commented on #85
Great, thanks Kim. Also, this now works (no errors) but there's no output file generated.

[code]

[2017-08-18 14:11] kimpham54 commented on #85
@ianmilligan1 strange! it worked for me. Let me look into it again

[2017-08-18 14:16] kimpham54 commented on #85
I made a few changes, this should be the final script that you use:

[code]

It should be the code segment right before the line "Do you have the script saved and ready to go? Good. Run the script from your command line by typing:"

[2017-08-18 14:29] ianmilligan1 commented on #85
I get this now:

[code]

I see `namecolumn` is defined in the next script?

[2017-08-18 14:42] kimpham54 commented on #85
@ianmilligan1 you're right. At this point I didn't introduce sys args yet, instead of io[namecolumn], it should be io['Area_Name']. PR forthcoming

[2017-08-18 15:12] jrladd commented on #92
Hi @walshbr et al., the changes have been made and the document is updated. Let me know what more we can do. Thanks again to all of you!

One quick question re: the node and edge files. We tried to update them to work as download links (so that a reader would only have to click and the download dialog would come up, instead of the file displaying in the browser), but the Markdown converter seems t

[2017-08-18 19:42] ianmilligan1 commented on #85
Awesome! A few other quick points up until paragraph 60, where I hit another roadblock. But after pressing on, just using the first version of the csv output, things were looking good!

<img width="974" alt="screen shot 2017-08-18 at 3 55 58 pm" src="https://user-images.githubusercontent.com/3834704/29475445-bf28e4ac-842d-11e7-9dc8-a87845a454d0.png">

So a few things:
- For the series of Python sc

[2017-08-20 13:31] nolauren commented on #102
I am having issues replicating this. The data selection from NHGIS is unclear. @ladew222, can you clarify?  Also, it reads like a tutorial for NHGIS although the initial framing suggests otherwise. @ladew222, which route are you most interested in pursuing? It will help me provide better feedback.

[2017-08-20 16:59] walshbr commented on #92
Thanks @jrladd I'll take a look at this early next week.

[2017-08-20 23:51] walshbr commented on #92
@jrladd to your question about downloading - I think that behavior differs from browser to browser. Just tested, and Chrome downloads the files as expected. Safari and Firefox open the files in new tabs in the browser. If you're concerned, you might try modifying the language of your text to something similar to this lesson, which explicitly recommends the user right click and save/download the li

[2017-08-21 10:38] jbartonthomas commented on #92
@jrladd , I tried to do a little bit of digging for you to follow-up. Like @walshbr  mentioned, the download attribute just isn't supported in certain browsers/versions. Check out this list: http://caniuse.com/#feat=download (though it seems like at least some of the browsers listed in green here don't actually have the tag implemented).

It might be possible to set the MIME type for a file to for

[2017-08-21 15:27] jrladd commented on #92
@walshbr @jbartonthomas Thanks to you both for looking into this. I think if it works on some browsers and not others, that's okay for our purposes. I'll add a sentence that says to right-click and "save link as" to avoid confusion.

[2017-08-21 18:42] greebie commented on #78
Hi Matthew,

I pushed some new changes that I think address the above.

I originally had a more obvious example using trade agreements and countries, and I revisited this approach in the new edit.

Also, because you said:

That led me to believe that the purpose of the axis was not well explained, so I tried a slightly different approach.  The quadrants and axes *do* have special significance.  Th

[2017-08-22 14:32] ianmilligan1 commented on #85
OK! I've now gone through the lesson and am having fun with Leaflet goodness (see picture)! We're almost ready to push this up, with just a few minor things and then we'll get it up. 🎉

![screen shot 2017-08-21 at 8 29 05 pm](https://user-images.githubusercontent.com/3834704/29570184-b3dff862-8723-11e7-90f8-94093aec21a3.png)

Final things to do:
- Can you give it a good final proof as you go throu

[2017-08-22 15:48] mdlincoln commented on #69
@evanwill and @jerielizabeth I'm happy to say that I found a workaround for the site build problems, and https://programminghistorian.org/lessons/fetch-and-parse-data-with-openrefine is now live!

I'm very sorry that this took so long... but rest assured, I blame it all on GitHub's opaque meddling with the build process 😉 We are totally blameless for this delay.

[2017-08-22 15:56] jerielizabeth commented on #69
Party!! Thank you again @mdlincoln!

Since we shuffled things around a few times trying to get site to build, before I publicize that the lesson is up, we should double check that everything looks as intended. I'll give it a read through, and @evanwill if you would be willing to look things over and confirm that the lesson looks as intended at some point today.

If everything looks good, we will a

[2017-08-22 20:31] evanwill commented on #69
Thank you @mdlincoln and @jerielizabeth, everything looks good.

I appreciate all the Jekyll / gh-pages sleuthing--always fascinating adventures!

thank you again!

[2017-08-22 20:38] mdlincoln commented on #69
Careful @evanwill if you reveal yourself to be _too_ enthusiastic about Jekyll, you'll be dragooned onto our editorial team 😉

[2017-08-23 14:04] walshbr commented on #92
I've got the lesson archived on this repo and moved it over to the production repository. It's living on a pull request at the moment - https://github.com/programminghistorian/jekyll/pull/572. I'll do one last read through in the next couple days, soft launch and notify you to check it out one last time, and then publicize it next week. But if you wanted to clone that repository and switch to the

[2017-08-23 20:57] ianmilligan1 commented on #85
Thanks Kim! I will try to review tomorrow, and in the meantime if you could attend to bio and image thoughts here (and if not on image, I'm happy to find a candidate).

[2017-08-23 21:08] kimpham54 commented on #85
Bio
Kim Pham is the Digital Projects and Technologies Librarian at the University of Toronto Scarborough Library. Her heart belongs to open-source software & shared, community-driven development practices in libraries.

Image
https://www.loc.gov/collections/static/national-parks-maps/images/ye000013.jpg?55835.31062 found in the slideshow gallery here: https://www.loc.gov/collections/national-parks

[2017-08-24 14:30] ianmilligan1 commented on #26
Hi all! Bea has pushed some updates in 5e38377feef1205b242e7086fcf2dbdab44eefd8.

As an update to those observers, Bea was on maternity leave, then I went (well, still am) on paternity leave. But we are back on track. 😄

We will probably send to one additional reviewer to make sure it all works (in particular the installation process).

[2017-08-24 14:33] ianmilligan1 commented on #85
Hi Kim!

Here's a soft launch of the lesson over at _Programming Historian_: <https://programminghistorian.org/lessons/mapping-with-python-leaflet>. Can you take a close look to proof it? I had to change some figure syntax and other things, so in particular we need to make sure all the links are working (I think they are).

Let's aim to try to launch this formally early next week.

[2017-08-25 13:33] vgayolrs commented on #56
@mariajoafana , creo que ya quedó (un lío con los espacios y sangrías). Cierro el tique pero ábrelo si se necesita algo más. Muchas gracias. Slds.

[2017-08-25 13:33] #56 closed

[2017-08-25 13:52] vgayolrs commented on #59
@jairomelo un favor ¿podrías revisar y coregir lo que te parezca de las observaciones que te ha hecho Carlos para que yo pueda darle una segunda repasada a tu traducción? Mil gracias y una disculpa por atrasar tanto la publicación de tu trabajo.

[2017-08-25 13:54] walshbr commented on #92
Preview of the lesson [here](https://deploy-preview-572--ph-dev.netlify.com/lessons/exploring-and-analyzing-network-data-with-python) @jrladd. Would you mind giving it a read to make sure that everything looks fine to you? I'll plan on making it go live early next week, so you'll have the weekend to take a look.

I had a couple formatting things I changed, mostly to put some superscript notes befo

[2017-08-25 16:05] jrladd commented on #92
Thanks, @walshbr. It looks good to me!

To your questions:

1.  Good catch! I updated the code on the recommendation of the reviewer and forgot to update the results or the prose. It should read, "It should look like a simple list of names and years:"

And the result should be:

[code]

2. Yes, thanks for catching the compatibility issue. That update sounds good to me.

I'll let you know if anythi

[2017-08-25 19:12] jairomelo commented on #59
Con mucho gusto @vgayolrs y así le damos salida a esta lección que lleva bastante tiempo en espera.

[2017-08-25 20:05] jairomelo commented on #59
@vgayolrs Realizados los cambios. Propuse un _pull request_ (que no sé si debía hacerlo 😅 ) y quedo en espera de los demás cambios que haya que hacer.

[2017-08-25 21:11] JMParr commented on #102
Thanks, @nolauren @ladew222 can you help clarify?

[2017-08-25 22:58] ladew222 commented on #102
Sure. I will add some more detail and clarity on how to use their service. I will update the tutorial in the next few days.  As a general focus, I do not envision this as a NHGIS tutorial. I included it because the service is particularly(or uniquely) useful for historical research as it contains downloadable files for all US Censuses that are ready for processing.  Most others—or all possibly—con

[2017-08-26 03:05] vgayolrs commented on #59
@jairomelo muchas gracias. Ya fusioné tu propuesta de corrección al archivo de la traducción.
Antes de proseguir, voy a ver qué es lo que se requiere para adaptar tu traducción ya que la lección original fue modificada (2017-05-25) después de hecha la traducción (2017-03-31). Mil disculpas.

[2017-08-26 15:33] mdlincoln commented on #78
Thanks for the update, @greebie. Will you be able to submit changes in the next two weeks, say, by September 9th?

[2017-08-28 10:10] acrymble commented on #108
Just wanted to check in on progress. Can you give me an update on how you're making out?

[2017-08-28 15:06] walshbr commented on #92
Lesson is merged and [now live](https://programminghistorian.org/lessons/exploring-and-analyzing-network-data-with-python). Congratulations, all! I'll be publicizing on twitter shortly. Let me know if any problems come up by filing an issue on [our main repository](https://github.com/programminghistorian/jekyll/issues). Thanks for all of your work.

[2017-08-28 15:06] #92 closed

[2017-08-28 15:25] greebie commented on #78
Yes I will.  Meant to have final details on friday, but life happened.  :)

[2017-08-28 15:27] mdlincoln commented on #78
Perfect - I won't be able to look at it before then, so take your time. I look forward to it!

[2017-08-28 15:28] walshbr commented on #92
And the last thing - be sure to promote your hard work! Looks like there is already some of that going on on twitter, but I'd encourage you to promote it, use it in your work, reference it in publications and on blog posts, etc. It's been fantastic working with you all, and I hope the process has been as productive for you as it has been for me.

[2017-08-28 20:03] kimpham54 commented on #85
@ianmilligan1 I read over the lesson, checked the links and checked the formatting. Looks good to me!

[2017-08-28 20:08] ianmilligan1 commented on #85
OK awesome! I will do a final once over and we'll begin the publicity machine tomorrow. :)

[2017-08-28 21:40] cassws commented on #108
Hi @acrymble ,

I finished making my way through your edits above.

I also divided the lesson into a Part 1 and Part 2, but I'm not sure whether it works split out in that way. Is the goal to allow a reader to start with Part 2 if they choose to? I don't feel like there will be enough context to jump in halfway. However, if the goal is to help make the lesson more readable and approachable for a r

[2017-08-28 22:10] ladew222 commented on #102
I added an appendix with a step-by-steps description on how to use NHGIS to download the shapefiles and census data that is utilized in the analysis section of the tutorial.  I thought an appendix might be the best location for this detail so that it does not take away from the analysis section of the tutorial. And I do not want too much focus to be on gathering the datasets even if it is necessar

[2017-08-28 23:52] walshbr commented on #95
Updating initial commit with learning goals now that the lesson is going forward. Will update with a tentative submission date after I hear back from @atiro.

[2017-08-29 00:20] jerielizabeth commented on #69
Thank you everyone (@evanwill @peggygriesinger @ljlow and @ettorerizza) for your excellent work on this lesson! Working on this lesson has been a pleasure for me and I am very excited to see it out in the world.

Please keep tweeting about it so that it gets the attention it deserves!

I am closing this issue as we are now live!

[2017-08-29 00:20] #69 closed

[2017-08-29 09:32] acrymble commented on #108
Are these both available at the same link, or did you upload a new file for the second one?

[2017-08-29 14:13] mariajoafana opened #130 "Ticket de Revisión de Traducción: Introducción a Google Maps y Google Earth"
The Programming Historian en español ha recibido la siguiente propuesta de traducción "Introducción a Google Maps y Google Earth" de la lección "Intro to Google Maps and Google Earth " por parte de @el-barto. Esta traducción se encuentra en estos momentos en fase de revisión por un revisor que se asignará próximamente y puede leerse en:

http://programminghistorian.github.io/ph-submissions/es/trad

[2017-08-29 14:32] jburnford commented on #85
Congratulations Kim!

On Mon, Aug 28, 2017 at 2:08 PM, Ian Milligan <notifications@github.com>
wrote:

--
http://jimclifford.ca
http://activehistory.ca/
http://tradingconsequences.blogs.edina.ac.uk/

[2017-08-29 14:53] ianmilligan1 commented on #85
Hazzah, and I've sent out the tweet. Please help spread the good word.

Thanks again for your wonderful lesson, @kimpham54, and to @shawngraham @jburnford for their reviews (and @jbartonthomas for their comment too!). A pleasure as always to work with you all.

🎉 🎉 🎉

[2017-08-29 14:53] #85 closed

[2017-08-29 15:06] kimpham54 commented on #85
@ianmilligan1 @shawngraham @jburnford Thank you all very much for your major contributions. I am extremely grateful for your patience. Thank you for your feedback @jbartonthomas. @ianmilligan1 A big thank you for guiding me through this process. It was a very valuable experience for me!

[2017-08-29 16:30] cassws commented on #108
@acrymble  Both at the same link. For now I just separated them with Part 1/Part 2 headers and some explanation in the introduction.

[2017-08-29 22:15] walshbr commented on #95
Updated with tentative submission date.

[2017-08-29 22:17] walshbr commented on #95
Also note @atiro that in the time since we began working on this lesson another lesson has made significant progress that might overlap with yours - #108. So you might look through that text for points where you could cross reference and not repeat the same material.

[2017-08-29 23:00] el-barto commented on #130
He generado imágenes con las versiones en castellano de Google Maps y Google Earth. Sólo han quedado 3 imágenes que no pude reproducir:

* **Figura 12:** No logro hacer funcionar la "Visita guiada" de Google Maps. De todos modos, en el hilo del texto creo que esta imagen no es crucial. Puede dejarse en inglés o quitarse.
* **Figura 29:** He seguido detenidamente las instrucciones, pero cuando carg

[2017-08-30 14:32] ianmilligan1 commented on #26
Just a quick note that we have a second reviewer lined up, who will have a review in the next four or five weeks. 😄

Thanks to all! And @aelang thanks of course both for the original comments, as well as the commit-level ones you've made.

[2017-09-03 06:54] acrymble commented on #108
I'm just reaching out to reviewers. I'll post an update when I've got them committed.

[2017-09-05 15:50] ghost commented on #26
Thanks so much for the opportunity to try out the Edinburgh Geoparser! It was exciting to open the sample file and to see the mapped locations from the text.

I see that @bea-alex has already incorporated several comments from @aelang, so I won't repeat those. I have a few general comments on the writing of the lesson itself, and one technical issue to report on for now. I'll be back with further

[2017-09-05 17:00] jerielizabeth commented on #105
Draft has been submitted and assigned to @alsalin as editor. Closing the proposal ticket as this is moving on to "submission"

[2017-09-05 17:00] #105 closed

[2017-09-05 17:01] jerielizabeth commented on #90
I received a draft of this lesson on August 30 and have provided initial feedback.

[2017-09-05 18:24] alsalin opened #132 "Review Ticket: Getting Started with Anaconda and Jupyter"
The Programming Historian has received the following proposal for a lesson on 'Getting Started with Anaconda and Jupyter' by @jewellthomas. This lesson is now under review and can be read at:

[http://programminghistorian.github.io/ph-submissions/lessons/collaborative-digital-humanities-anaconda-jupyter](url)

Please feel free to use the line numbers provided on the preview if that helps with anch

[2017-09-05 18:59] alsalin commented on #132
@jewellthomas I'm excited to see both part 1 and part 2 of this lesson together. As I go through part 1, I haven't tried the code quite yet because I'd like to see if we can tweak the format of the tutorial a little bit. Right now, I'd like to explore some possibilities for clarifying context and ensuring longterm sustainability for this lesson.

We've been having lots of discussions at PH about s

[2017-09-06 14:31] bea-alex commented on #26
Hi Sarah,

Sorry for that error you got.

Just so you can continue with lesson, can I ask you to make a fix just in your download, please.  I’ll get onto making an official fix and creating a new release in parallel.

For your fix, can you just open the setup file in the scripts directory and replace the following line:

Darwin?1[012345]*)

with

Darwin?1[0123456]*)

So, just add the 6.  That shou

[2017-09-06 15:11] bea-alex commented on #26
Hi Sarah,

thanks very much for your review.  I made most of the changes you listed already.  I sent you an email with a fix for the Geoparser and will work in parallel on creating a new release to fix it for everyone else.

We haven't been very consistent on the use of the hyphen after geo.  I'll try to make it as consistent as possible in this lesson.

Do you know how you'd refer to all OS X ver

[2017-09-08 13:59] walshbr commented on #95
For reference, the initial version of this lesson is in a notebook [here](https://github.com/atiro/notebooks/blob/master/pandas/pandas-in-the-museum/Pandas%20in%20the%20Museum.ipynb). The conversations about adaptation and revision have lead on from that.

[2017-09-08 16:57] smythp commented on #106
I've pushed my updated version, rewritten to more clearly reflect humanities use cases. The main use case is a "distant reading archive," one that has metadata useful for distant reading, in this case first sentences. I've also included a shorter, more history-centric use case in the "Using APIs" section which gives a gentler introduction to a few API concepts than was present in the previous vers

[2017-09-09 02:26] greebie commented on #78
Hi Matthew.  Changes have been submitted.  I believe I went through the details step by step with one major exception -- the issue about quadrants did not seem clear.

In general the quadrants matter very much because the each axis represents one facet (I call them "reasons" in the article) for why inertia occurs.  I used the example of "members and clubs" in the paper to explain this better.   Cl

[2017-09-10 16:45] mdlincoln commented on #78
Thank you for sending in these revisions. I very much like to clearer examples. I've committed a host of small formatting fixes and a few wording changes.

One major change I made: I still find the introduction of what CA is to be overcomplicated, particularly grafs 2 and 3. The axes of the plot are not "reasons" in the way a historian would understand them. They _illustrate_ the relative co-incid

[2017-09-11 13:19] elikaortega commented on #75
Hi Shawn and Jessica, and others. As usual, apologies for the delay! I thoroughly enjoyed your tutorial! You really do a great job outlining the process of building a bot and especially, how to come up with ideas.
I look forward to seeing this tutorial out.
Below are some minor recommendations and punctual comments:

- Paragraph 1: it would be nice to mention the authors of both Tracery and Cheap

[2017-09-11 13:21] walshbr commented on #106
Thanks, @smythp - I'll take a look at this later in the week!

[2017-09-11 15:06] smythp commented on #106
Great! Looking forward to your feedback.

[2017-09-11 17:35] ghost commented on #26
Thanks for your quick reply, @bea-alex! I'll give your suggested fix a try this week and report back.

10-16 makes sense to me!

[2017-09-11 18:05] mdlincoln commented on #78
(I should have also noted: after these last changes, I think we'll be good to publish! Just gotta find some nice header image for your lesson :)

[2017-09-12 15:02] walshbr commented on #106
@smythp - looks good! I think the added bits illustrating use cases are helpful, and they really help to ground the lesson in a particular audience. I've added notes below based on my most recent read. Nothing substantive at this stage from though - just typos and notes about one or two places that could use another sentence. I'll reach out to reviewers. Feel free to go ahead and make these change

[2017-09-12 16:38] smythp commented on #106
Didn't realize markdown inside HTML tags doesn't get rendered, ha. Will do a PR this weekend at the latest. Thanks, Brandon!

[2017-09-12 17:38] greebie commented on #78
Hi Matthew.   Thanks for the help with this.  I think I've addressed all the changes as requested.  Thanks so much for your help in refining this to a publishable tutorial!

[2017-09-12 20:51] mdlincoln commented on #78
Thanks @greebie. I'm going to open a Pull Request on the main repo now with the lesson and its files. Final discussion and checks can happen there.

[2017-09-13 10:15] acrymble commented on #108
Two reviewers have agreed to offer formal reviews of the lesson by 11 October 2017. Once they have been posted I will summarise a path forwards and we'll go from there @zoews

[2017-09-13 13:54] #75 closed

[2017-09-13 18:23] cassws commented on #108
Oh fantastic! Yes please let me know if there's anything I can help with along the way, and otherwise I'll plan on jumping back into the project then. Thanks @acrymble !

[2017-09-13 18:29] alsalin commented on #108
Many thanks for providing me the opportunity to review this lesson! Before getting started, please let me know if anything is unclear. First of all, this tone of the lesson I think is fabulous. It hits the mark of explaining a method without relying to much on the "how to" over the "why."

Just a few comments with respect to sustainability and clarity.
- I feel that for a user new to exploratory d

[2017-09-13 20:41] mdlincoln commented on #78
I've just soft-published this finished lesson at <https://programminghistorian.org/lessons/correspondence-analysis-in-R>! I'll be waiting about 24 hours before advertising it on twitter, so if you happen to see any issues in the final piece, open a ticket on our main repo :)

Thank you so much @statsmaths  and @sandravg for your crucial work reviewing, and congratulations @greebie on a fine lesson

[2017-09-13 20:41] #78 closed

[2017-09-14 12:07] acrymble commented on #108
Thanks @alsalin, for such a prompt review. We're just waiting on one other. In order to make sure both reviewers get a chance to address the same piece of writing, I'll ask that you don't make any changes yet @zoews

[2017-09-15 16:41] walshbr commented on #106
I've found two reviewers for this @smythp - @mkudzia and @greebie (the latter reached out with interest when the first traces of this went up on the repository). I've let them both know that you'll be putting up a pull request with those very small changes in the next few days and that they shouldn't check it out until that time. Looking forward to working with you all!

[2017-09-15 19:09] ghost commented on #26
Hi Bea,

Thanks again for the fix. I was able to make the change easily and the scripts ran without a hitch.

Is there a particular reason why the TSV example switches to a different dataset? I'd recommend using the 172172 file again for this example if possible, since readers have an idea of what to expect for those results already. I'd also suggest adding a more explicit step about opening the T

[2017-09-16 20:45] smythp commented on #106
OK, it's ready for review. I may do one last pass this evening, if I make changes I'll reference the commit here. Thanks again!

[2017-09-16 22:35] ianmilligan1 commented on #26
Wonderful, thanks so much @ssimpkin – @bea-alex, at this stage, I'll go through this week and provide the next editorial pathway forward. Again, really appreciate all of the engagement on this.

[2017-09-16 22:38] ianmilligan1 commented on #87
Just a quick update: I've been in touch with the reviewer and it should be in relatively soon. Thanks for your patience @jgmjgm. 😄

[2017-09-18 20:03] ianmilligan1 commented on #26
Hi @bea-alex – I started going through this and ran into the same error as Sarah.

[code]

What do you think.. should we hold off until the new release is ready, or should we provide the patch changes for the first draft and remove once it works?

Otherwise, I made a few tiny edits which I pushed up up until that point (I stopped on the first test parsing run). My other two thoughts are:

- I wond

[2017-09-19 00:48] mariajoafana commented on #130
@el-barto perdona la demora en asignar un revisor. @arojascastro va a ser el primer revisor de la lección.

[2017-09-19 08:08] arojascastro commented on #130
Gracias @mariajoafana; espero revisar el tutorial antes de que acabe el mes, si va bien. Publicaré mis comentarios aquí.

[2017-09-20 09:58] bea-alex commented on #26
Hi Ian,

For the fix, if you open the setup file in the scripts directory and replace the following line:

Darwin?1[012345]*)

with

Darwin?1[0123456]*)

So, just add the 6.  That should fix it for your version of MacOS.  We are a bit behind the Apple releases.  We wanted to wait for the new version of Apple to come out  and test the Geoparser on that too and then make changes for High Sierra and

[2017-09-20 09:59] bea-alex commented on #26
Oh and will add the link to the gazetteer lesson as well.

Bea

The University of Edinburgh is a charitable body, registered in
Scotland, with registration number SC005336.

[2017-09-20 13:36] bea-alex commented on #26
I made all the changes and updated the repository.

Cheers,

Bea

The University of Edinburgh is a charitable body, registered in
Scotland, with registration number SC005336.

[2017-09-20 14:49] ianmilligan1 commented on #26
Wonderful, thanks @bea-alex – I will continue my way through the lesson! Be in touch soon. 😄

[2017-09-20 19:28] ianmilligan1 commented on #26
Thanks again @bea-alex. A few more thoughts on the lesson as we move into the final stages.

My first overall thought is that on our scale of beginner, to intermediate, to advanced lessons, this is probably an advanced one. But I think that's a good thing, as we need to cater to practitioners as well as those getting started. And yet another reason for people to learn how to use the command line!

[2017-09-23 14:59] walshbr commented on #106
Cool thanks! @mkudzia and @greebie - you should be good to go whenever you have time for reviewing. Let me know if you have any questions, and I'll check back in few weeks.

[2017-09-25 02:27] nolauren commented on #102
Looking over the revisions, my suggestion is that this be broken up into two tutorials: one on how to use NHGIS and the other about GIS data analysis. Since @ladew222 says the data analysis part is the main interest,  I think just focusing on the second one is fine.  I’d outline what kinds of GIS analysis the tutorial will cover and why. The data then needs to be prepackaged, easily accessible,  a

[2017-09-25 02:36] nolauren commented on #102
Concerning the skill level of this tutorial: The intro suggests one doesn’t need a lot of experience with R.   I think it reads like it is for an intermediate user at minimum.  I think that is fine. With that said, there still needs to be more explaining why one should pursue these kinds of analysis. Why geocode? What are the visualization methods for spatial data (i.e choropleth, etc)?  What kind

[2017-09-25 02:39] nolauren commented on #102
Code:  The code needs to be clearer and cleaned up. For example, sometimes “=“ is used to assign an object and then other times “<-“.  There are plots with no code so either include the code or remove the plot.  There are also a lot of different libraries going on here for how to do analysis - base graphics  (i.e, plot, hist, etc), plotly and tmap. I’d recommend picking one and really deep diving

[2017-09-25 02:40] nolauren commented on #102
Happy to expand on anything or to throw ideas around for how to restructure the piece!

[2017-09-25 09:43] MrMethodmanMAN commented on #92
Hi Guys,

This looks like an interesting and comprehensive analysis, I am interested in implementing the code to see how it works, but I am having trouble finding quakers_edgelist.csv. Can you post a link to the data ?

[2017-09-25 09:44] MrMethodmanMAN opened #133 "Missing files"
Hi Guys can you post a link to the sample files.

Thanks

[2017-09-25 12:49] walshbr commented on #92
Glad you're finding it useful! @MrMethodmanMAN - the live version of the site with links to the code is at https://programminghistorian.org/lessons/exploring-and-analyzing-network-data-with-python. The link to the edgelist is here - https://programminghistorian.org/assets/exploring-and-analyzing-network-data-with-python/quakers_edgelist.csv

I'll close your other issue since it seems to duplicate

[2017-09-25 12:50] walshbr commented on #133
Closing as it is a duplicate question of the one you asked in #92. Let me know if this is actually a separate question and I can reopen and help.

[2017-09-25 12:50] #133 closed

[2017-09-25 13:58] MrMethodmanMAN commented on #92
HI Brandon,

No it is the same issue, I only noticed the issues bottom after seeing and felt that it was the more correct channel. Thanks again for the link. Great tutorial, it is very much appreciated!

[2017-09-26 10:54] bea-alex commented on #26
Hi Ian,

see comments inline.

Fine by me.

I added another subsection and a couple of screenshots.

Yes. BoundingBox. http://boundingbox.klokantech.com <http://boundingbox.klokantech.com/>
I added a sentence/reference to it to the lesson.

The Geoparser doesn’t allow for polygons to be specified, just a circle or a box.

Ok, so I removed “so that is today’s date” from that sentence… hopefully tha

[2017-09-26 14:31] ianmilligan1 commented on #26
Hi Bea – this looks great. I think the patch fix is linked better, the bounding box is helpful, and if you're happy with this version I think we're almost there (just wanted to make sure you were happy with addressing Sarah's comments, I think you've done great work there).

I'm going to update my laptop to MacOS High Sierra shortly (after Auden wakes up – so maybe it'll be ready to test during af

[2017-09-26 15:39] bea-alex commented on #26
Hi Ian,

just quickly as got to dash home but High Sierra will need at least one other change … so I have to alter the patch fix slightly.  But it depends on what the result of the command:  uname -srm

On Sierra the result for that is:

Darwin 16.7.0 x86_64

If the numbering just increases by one then presumably for High Sierra it will say something like:
Darwin 17...

If that’s the case then you

[2017-09-26 18:49] ianmilligan1 commented on #26
Yep, when running I got our old friend:

[code]

Adding the 7 as in

[code]

worked.

Do you want to edit the text? Any ETA on the High Sierra patch, is it worth waiting or will it be more than a week or two?

[2017-09-27 16:10] arojascastro opened #134 "Ticket de Revisión de Traducción: Editar con Audacity"
*The Programming Historian en español* ha recibido la siguiente propuesta de traducción *Editar con Audacity* de la lección [Editing with Audacity](https://programminghistorian.org/lessons/editing-audio-with-audacity) por parte de @jamotilla. Esta traducción se encuentra en estos momentos en fase de revisión y puede leerse en:

### Texto
http://programminghistorian.github.io/ph-submissions/es/trad

[2017-09-29 07:18] arojascastro commented on #134
Hola @jamotilla, el autor del tutorial realizó una serie de cambios. Puedes consultarlos aquí: https://github.com/programminghistorian/jekyll/issues/591

¿Te parece bien descargar el archivo, revisar los cambios, traducir lo que sea necesario y volver a enviárnoslo?

Si aceptas, por favor, ten en cuenta en que deberás descargar el archivo que hemos publicado aquí, pues antes de subirlo cambié el e

[2017-09-29 13:33] jamotilla commented on #134
Hola @arojascastro, estoy de acuerdo. Hoy mismo trabajo en ello.

[2017-09-29 13:34] arojascastro commented on #134
Gracias @jamotilla. Los cambios se pueden ver mejor aquí: https://github.com/programminghistorian/jekyll/pull/610/files

Lamento que tengas que volver a revisar el texto...

[2017-09-29 13:39] jamotilla commented on #134
Gracias!

[2017-09-29 17:07] arojascastro commented on #130
Comentarios generales:

- se abusa de la forma "puede" y "esto" para introducir frases. Se recomienda reescribir algunas frases para dotar al texto de mayor diversidad aunque se aleje del original inglés.
- se evita el uso de frases subordinadas o coordinadas. En español, creo, son más comunes que en inglés, sobre todo en textos formales; se recomienda utilizar más construcciones subordinadas o co

[2017-09-30 13:16] el-barto commented on #130
Muchas gracias por tus comentarios, @arojascastro.

Además de los errores y mi abuso del "puede" y "esto", veo que hay algunas correcciones de estilo que tienen que ver con diferencias regionales. No sólo el "tú"/"usted" sino también, por ejemplo, en Argentina es muy infrecuente la construcción "probar" + "a" + infinitivo (que, efectivamente, es lo que dice la RAE). Comenzaré entonces a aplicar es

[2017-09-30 14:34] arojascastro commented on #130
Gracias @el-barto por responder. Tampoco te tomes mis comentarios al pie de la letra; quizás sería mejor esperar a la segunda revisión y a que @mariajoafana decida si hay correcciones que no se deben realizar porque son, como dices, propias del habla argentina. De hecho, no sabía que eras argentino, pensaba que eras mexicano. En cualquier caso, son sugerencias.

[2017-10-02 14:12] walshbr commented on #106
Blargh - sorry. Ref'd wrong ticket in the above commit. That reference can be ignored.

[2017-10-02 14:21] walshbr opened #136 "Review Ticket: Wrangling Museum Collection Data with Pandas"
The Programming Historian has received the following tutorial on 'Wrangling Museum Collection Data with Pandas' by @atiro. This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/wrangling-museum-collection-data-with-pandas

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, although

[2017-10-02 14:21] walshbr commented on #95
Draft submitted. Will close and reopen under a review ticket - #136

[2017-10-02 14:21] #95 closed

[2017-10-02 15:03] JMParr commented on #102
Thank you, @nolauren ! So, in sum, it looks like this would work better as a more targeted lesson (with additional context to explain the rational), and there are some problems with the code that need to be fixed?

[2017-10-02 18:55] ladew222 commented on #102
Thank you @nolauren as well. I will begin looking at the work with your feedback in mind to discern how to restructure with your guidelines and suggestions. And thanks for the help and offer of aid with the restructuring; I will most likely take you up on this as I work on expanding background discussions in some areas. I will also clean up the code as mentioned and re-classify the tutorial as int

[2017-10-02 19:51] jamotilla commented on #134
Listo @arojascastro , revisé de nuevo el texto e incluí los cambios hechos por el autor.  Están disponibles directamente en https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/traducciones/editar-audio-con-audacity.md

[2017-10-04 03:11] whanley commented on #31
Thanks @jerielizabeth for your input and your patience! I've uploaded a new version of the lesson, as well as some auxiliary files.

Here are answers to your specific questions:

### Logistics

1. Yes, .ttl files can be hosted with the lesson. Where should I put these--with the images? I understand the concern about problems with referring to an external SPARQL endpoint, especially considering wha

[2017-10-04 07:36] arojascastro commented on #134
Gracias @jamotilla. Aún tengo que encontrar dos revisores.

[2017-10-06 14:39] walshbr commented on #136
Thanks for this, @atiro. I think that the tutorial offers a lot for readers in the way of a basic introduction to Pandas. Lots here that will be useful in the way of data analysis - I know Pandas is being used more and more for data structuring and processing, and I think it's a great idea to have a tutorial on it that is accessible to digital historians. I have several points below that are local

[2017-10-06 15:07] jerielizabeth commented on #31
@whanley Great to hear from you! I'm a bit swamped until the end of next week, but at that point I will look things over again and, I anticipate, start recruiting reviewers.

[2017-10-07 23:04] vgayolrs commented on #59
@jairomelo : ya revisé los cambios habidos desde tu traducción y son de índole técnica así que como editor las he corregido. Pero lo que sí te voy a pedir es que revises y corrijas las siguientes líneas que no fueron revisadas por Carlos:

39.- "...es que se puede contener..." "es que puede contener..."

42.- ...son nombrado de acuerdo" | "son nombrados de acuerdo" (corregir también en redireccion

[2017-10-08 02:43] nolauren commented on #102
Yes @JMParr . Happy to throw ideas around for how to restructure if I can be of help!

[2017-10-08 15:06] ianmilligan1 commented on #26
Just a note that while we're basically ready to go, we're going to wait for a High Sierra patch.

[2017-10-09 15:59] jairomelo commented on #59
@vgayolrs Realicé las correcciones sugeridas.
Cualquier otra modificación me avisan para realizarla 😃

[2017-10-09 16:08] vgayolrs commented on #59
@jairomelo , muchas gracias. Hice el "merge" con tus correcciones pero desgraciadamente no indiqué el número de ticket para que apareciera aquí. @arojascastro y @mariajoafana , me parece que está lección está ya lista gracias a los observaciones de @lozgarrido y la revisión segunda que yo hice. Sin embargo, no estaría por demás si tienen ustedes alguna observación hacedla lo más pronto posible par

[2017-10-11 07:17] arojascastro commented on #59
¿La puedo leer este fin de semana?... @vgayolrs

[2017-10-11 14:25] vgayolrs commented on #59
¡Encantado, @arojascastro !

[2017-10-12 13:41] ianmilligan1 commented on #26
... and with 547d157, we're ready to go. Just waiting on Bea's biography and thoughts on images, and I'll begin transitioning over to the main PH repo. 🎉

[2017-10-12 14:12] walshbr commented on #136
No rush on this @atiro, but we're engaging @zoeleblanc as one of your reviewers. She'll be giving a more thorough read through later on after you've taken my above comments into effect. But she had some initial thoughts that might be good to keep in mind as you're working. So we thought it worth looping in earlier. She'll be in touch on this thread.

Excited to see that this is coming to fruition!

[2017-10-12 18:41] arojascastro commented on #134
Tenemos un primer revisor: @jairomelo. Muchas gracias por revisar el tutorial. Por favor, lee nuestra [guía para revisores](https://programminghistorian.org/es/guia-para-revisores) e introduce tus comentarios en este ticket.

@jamotilla una vez tengamos los comentarios de un segundo revisor, podrás introducir los cambios que consideremos acertados. Mientras tanto, por favor, espera hasta que los d

[2017-10-13 04:03] vgayolrs commented on #134
@arojascastro si no te importa, me gustaría también revisarla. Si te parece bien me quitas de ombudsperson para esta traducción y trabajamos en ello.

[2017-10-13 07:34] arojascastro commented on #134
¡Perfecto! Pues @vgayolrs se encargará de la segunda revisión. Gracias.

[2017-10-13 14:10] jamotilla commented on #134
Perfecto! Estoy al pendiente para integrar las correcciones. Gracias @arojascastro, @vgayolrs y @jairomelo Saludos

[2017-10-13 20:15] ladew222 commented on #102
I have done some restructuring and edits based on your recommendations; thank you. First, I broke the tutorial in two. I took out the NHGIS section and put it into a separate tutorial, which I linked.  With this change, I created a direct download link so users can download the files used in this tutorial directly. I created a folder with the necessary files. I could not zip the contents and uploa

[2017-10-13 23:43] vgayolrs commented on #59
@jairomelo : surgió un pequeño problema con la lección original pues tiene que ser actualizada para incluir permisos pues parece que internet archive ha puesto candados. Por favor, consulta el siguiente ticket en: https://github.com/programminghistorian/jekyll/issues/621 . Por lo visto es algo bastante sencillo.

No obstante, @arojascastro y @mariajoafana , soy de la opinión de que la revisión ya

[2017-10-14 06:21] arojascastro commented on #59
Totalmente de acuerdo, lo importante es que la publiquemos de una vez - espero echarle un vistazo entre hoy y mañana.

[2017-10-15 20:28] arojascastro commented on #59
Aquí van mis sugerencias:

- 7: enlace a lección sobre Pip es incorrecto
- 8: el cual requiere la versión 1.9.0 de six (otro paquete de Python) esté instalado previamente. --> el cual requiere que la versión 1.9.0 de six (otro paquete de Python) haya sido instalado previamente.
- 11: resguarda --> preserva o custodia (¿resguarda? uno se resguarda de la lluvia... no lo he visto utilizado nunca en e

[2017-10-15 21:06] vgayolrs commented on #59
¡Muchísimas gracias por tu tiempo, @arojascastro ! Creo que con esto ya puede terminar @jairomelo el trabajo.

[2017-10-16 12:23] mariajoafana commented on #130
Hola @el-barto Estoy de acuerdo con Antonio sobre hacer el cambio de voz para usar el "tu" como lo hemos hecho en la demás traducciones y así guardar la consistencia. Sobre el ejemplo "probar a" no hay problema en dejarlo según el uso más común en Argentina, pues no modifica la claridad del texto.

[2017-10-16 12:35] mariajoafana opened #138 "Ticket de revisión de traducción: Contabilizar y minar datos de investigación con Unix"
The Programming Historian en español ha recibido la siguiente propuesta de traducción "Contabilizar y minar datos de investigación con Unix" de la lección "Research Data with Unix" por parte de @vgayolrs . Esta traducción se encuentra en estos momentos en fase de revisión por @jucmurciaga y puede leerse en:

### Texto
http://programminghistorian.github.io/ph-submissions/es/traducciones/datos-de-in

[2017-10-16 16:16] vgayolrs commented on #59
@jairomelo : ya está lista la actualización de la lección original. Puedes ver los cambiambos en https://github.com/programminghistorian/jekyll/commit/a1c4949f5cf196f85ff6dcbef14c7644a81eaadf#diff-76bcca8c94c80317afc212c217b7220d
Esperamos tu edición para cerrar el proceso. Gracias por tu paciencia!!!

[2017-10-16 16:22] jerielizabeth commented on #31
Hi @whanley this is looking great! Thank you for making the changes. For the hosting of the files on Programming Historian, the best place would be in the assets folder, in a folder named 'making-a-small-rdf-database'. And I'll ask the team for additional ideas on strategies for the SPARQL endpoint and how best to proceed for sustainability purposes.

The last concern I have before recruiting revi

[2017-10-16 16:23] jairomelo commented on #59
@vgayolrs ¡perfecto! Esta tarde me aplico y hago los cambios. Gracias @arojascastro por las sugerencias. Saludos

[2017-10-16 18:00] jerielizabeth commented on #31
Hi again @whanley. I conferred with our resident sustainability and SPARQL experts, and the consensus is that it would be best to avoid the hosted endpoint server and focus instead on making sure that the reader has their own server running locally and is exploring their RDF data that way. That reduces the maintenance burden on everyone involved and puts the lesson on the strongest ground for long

[2017-10-17 12:58] ianmilligan1 opened #139 "Proposed Lesson: Visualizing WWII Bombing Runs with Pandas and Bokeh"
The Programming Historian has received the following proposal for a lesson on 'Visualizing WWII Bombing Runs with Pandas and Bokeh' by Charlie Harper (@archaeocharlie). The proposed learning outcomes of the lesson are:

- loading, cleaning and visualizing raw data;
- uses the "Theatre of Historic Operations" datasets on aerial bombings as a running example to create web-ready graphs and maps for b

[2017-10-17 14:32] drjwbaker commented on #139
Just to add, I'll be following the editorial process in a leaning the ropes capacity!

[2017-10-17 18:46] greebie commented on #106
Thanks for the interesting and informative tutorial!

Overall, I think it achieves its intended purpose, but could use some revisions along the following lines:

1. The tutorial seems to extend beyond its focus, making it too long and as a result slightly intimidating.   I think that the examples related to using an API and designing/documenting an API might be better as separate tutorials, leavin

[2017-10-17 19:02] ZoeLeBlanc commented on #136
@atiro this is a great tutorial that I wish had been around when I was learning pandas! I agree with Brandon's detailed comments, and want to especially second his advice of focusing on the datasets a bit more, rather than the methods, to help clarify when/where to use pandas.

Here's a few of my big picture comments and I would be happy to give more detailed feedback later on in the process.

1)

[2017-10-17 19:50] walshbr commented on #106
Thanks, @greebie! @smythp - if you don't mind, let's wait for feedback from @mkudzia before you go implementing the changes she has suggested. Then I'll summarize the reviews and offer final suggestions for revision. But if you wanted to discuss anything further on the thread here feel free to do so.

[2017-10-17 21:29] jairomelo commented on #59
@vgayolrs Realizados los cambios en la traducción más la traducción de la actualización de la lección original.

[2017-10-18 17:37] smythp commented on #106
Hi Ryan,

Thank you for reading the tutorial and for your thoughtful comments! I'll take Brandon's advice and wait for Megan's feedback before asking for clarification and implementing your suggestions. Thanks again, and looking forward to improving the tutorial using your comments.

Best,
Patrick

[2017-10-21 20:33] jairomelo commented on #134
Va mi revisión.

[1] "ayudarle a tener el control" - Redacción confusa en español. Podría ser: "puede ayudar a dominar su/tu objeto de estudio"
[1] "podrían permitir" - "permitirán"
[1] "grabaciones tuyas o de otros" - "grabaciones, tuyas o de otros,"
[1] "¿Esa lectura de un invitado en tu departamento?"

Revisar traducción de "That guest lecture taking place in your department?"
Guest Lecture: pr

[2017-10-22 10:13] arojascastro commented on #134
Gracias @jairomelo. Antes de introducir cambios, debemos esperar la lectura de @vgayolrs. ¡Hasta entonces!

[2017-10-23 00:42] vgayolrs commented on #59
Muchas gracias @jairomelo !  Integradas. Reviso cualquier cosa y a publicar.

[2017-10-23 01:18] vgayolrs commented on #59
Traducción publicada. ¡Muchas gracias a todo el mundo!

[2017-10-23 06:00] arojascastro commented on #59
Genial. Faltan, sin embargo, los metadatos sobre el editor de la traducción (tú) y diría que también sería justo añadir mi nombre como revisor, pues me la leí entera.

[2017-10-23 10:02] vgayolrs commented on #59
Lo siento mucho @arojascastro , ya está tu crédito.

[2017-10-23 10:06] #59 closed

[2017-10-23 12:10] vgayolrs commented on #134
En general, estoy de acuerdo con las anotaciones de @jairomelo  pero van algunas precisiones.

Sobre las imágenes: Si bien coinciden con las de la lección original, el código de insersión es erróneo y habrá que cambiarlo para que funcione una vez publicada (aunque no se vean las imágenes en el borrador por lo pronto). Por ejemplo, la primera imagen está inserta de esta manera:

[code]

Pero deberí

[2017-10-23 12:14] arojascastro commented on #134
Perfecto, gracias @vgayolrs. A mí también me gusta más *fundido*, creo que es el término que necesitamos porque con *desvanecimiento* para que alguien se vaya a desmayar.

Si os parece bien, @jamotilla puede introducir los cambios propuestos por los dos revisores, y, más tarde, si es necesario, @vgayolrs puede hacer una última repasada.

[2017-10-23 15:16] jamotilla commented on #134
De acuerdo, hoy mismo hago los cambios sugeridos. Saludos

[2017-10-23 17:23] mkudzia commented on #106
Hi Patrick,

I will follow Ryan's format and give some overview comments up top, and then some line-based things I noticed. Overall it's clear you've done a lot of work on this and it shows! I agree that in general this is a really useful tutorial.

1. I agree that it could be tightened up by splitting it into two or three smaller tutorials. I am a huge fan of good documentation so I'm really plea

[2017-10-23 17:51] greebie commented on #106
Great commentary @mkudzia!

It's too bad we don't have anything available yet to explain how to use an api.   It would be a popular tutorial I think.

That said, I am fine with any approach that improves the focus of the tutorial to accord with the lesson goals (including revising the lesson goals to include the above).  I see my comments above more as an example where new ideas take away from the

[2017-10-23 18:13] mkudzia commented on #106
Thanks @greebie -- obviously I thought yours was good too!

I agree that ultimately the matter at hand is fine-tuning the focus of the existing tutorial. I think I might have wandered afield from that point so it would be good for me to re-emphasize that here. @smythp I'm excited to see what you ultimately decide to do.

[2017-10-23 18:23] walshbr commented on #106
Thanks for the helpful reviews, both! @smythp - feel free to ask for any clarification or open things up if there is anything you'd like to discuss. For my own part, it seems like the consistent thing from the reviewers is a concern for the audience the tutorial pitches itself towards. I'll confess that my own concern is always for the novice reader. It also is totally reasonable to pitch it for a

[2017-10-23 20:35] smythp commented on #106
Two of the questions you raised were concerns of mine when writing the tutorial. One, that it was too long, and so would put off new people, and two, that it's a large, diverse, and relatively tough domain, which is also, I think, why there are no REST API tutorials on Programming Historian currently and why those that exist on the internet at large generally aren't beginner-friendly. In tackling

[2017-10-24 13:07] walshbr commented on #106
Splitting things off also makes it less likely that a second or third tutorial will be finished - life gets in the way, even with all the best intentions. Certainly not the only consideration, though, and the advice to resist the urge to be all things to all people to all people is a good one. I think your reasoning here makes a lot of sense @smythp. A lot of this might have to do with framing, bo

[2017-10-24 13:33] ianmilligan1 commented on #26
OK, let's continue the conversation over on the main pull request! Thanks everybody (and especially @ssimpkin & @aelang for their review, and of course @bea-alex for writing the great lesson).

[2017-10-24 13:33] #26 closed

[2017-10-24 13:42] walshbr commented on #106
Ah and @smythp this is a bit of a sneak preview, but we're working to make sustainability more of a consistent conversation at PH. We have a preview of our upcoming sustainability guidelines available here - https://deploy-preview-612--ph-dev.netlify.com/lesson-retirement-policy#related-sustainability-guidelines. You might glance at them to see if they give you any thoughts as you're revising. Som

[2017-10-25 00:32] smythp commented on #106
Thank you, Brandon. Over the next few weeks I'll consider the excellent advice here and use it to tighten up the lesson, with special consideration to audience. Thanks again, all!

More consideration for sustainability is a great idea, both for PH and as a wider concern in DH in general. I actually also had an accessibility concern with images that I wanted to run by you, but I'll send you the det

[2017-10-25 11:43] walshbr commented on #106
Sounds good! I'm happy to discuss by email, but if you had thoughts about something that is not mentioned in the sustainability guidelines they're probably worth mentioning on those tickets on the main repo as well #534 for sustainability more generally and #612 for the pull request that is gathering all those materials for discussion and preview. Feel free to jump into one of those conversations

[2017-10-25 16:12] ianmilligan1 commented on #87
Just a final check in.. our reviewer is a bit overdue 😄 but that may be related to conference organizing.  I will aim to have a firm timeline by end of the week. Really sorry about this @jgmjgm.

[2017-10-25 16:15] amandavisconti commented on #99
The author has decided not to pursue this lesson at this time. Another author may propose a lesson for an adjacent topic soon.

[2017-10-25 16:15] #99 closed

[2017-10-27 15:34] mariajoafana commented on #130
Encontré un segundo revisor para el tutorial. @el-barto, ¿me podrías avisar por favor cuando hayas incorporado las corecciones de @arojascastro para así darle luz verde al segundo revisor? Muchas gracias.

[2017-10-27 16:05] el-barto commented on #130
Hola @mariajoafana, entendí que debía esperar a que estuviera la segunda revisión. Creo que podré hacer los cambios en el transcurso de la semana próxima. Saludos!

[2017-10-27 17:27] jerielizabeth commented on #104
Draft of this lesson has been received on October 24, 2017.

[2017-10-31 14:50] ianmilligan1 commented on #87
Well, I've decided to give up on our reviewer.. I'm so sorry, we kept having deadlines pushed back, and I'm just going to switch gears. our next reviewer will have the review in by the end of the week, and I'll put this on front of desk to make sure you don't have to wait on me. 😦

[2017-10-31 18:24] greebie commented on #87
For the sake of expediency, I think I will produce my review now.   I read the paper, made notes and then saw @fdlaramee 's review and found a lot of cross-over.  That gives me the benefit of getting to write a lot less.  :)

The big picture challenge is the structure.  I agree that the tutorial is very advanced and long.  My experience with advanced users is that they already have experience usin

[2017-10-31 18:57] ianmilligan1 commented on #87
Great, thanks @greebie – really appreciate it, and good to see the overlap with @fdlaramee's comments too. So we're back on track.

If I may suggest the best way forward.. @jgmjgm do you want to try to tweak the installation instructions a bit more, and then maybe @greebie can do another quick play through to make them work. Feel free to update the lessons repo itself, or if you want, you can just

[2017-11-01 20:22] mariajoafana commented on #130
Mil gracias @el-barto Creo que mejor incorporar primero las sugerencias del primer revisor y luego  si que lo mire el segundo revisor. Quedo pendiente ;)

[2017-11-06 16:21] amandavisconti opened #141 "Proposed lesson: Introduction to MySQL with R"
The Programming Historian has received the following proposal for a lesson, "Introduction to MySQL with R", by Jeff Blackadar. The proposed learning outcomes of the lesson are:

 - Set up and connect to a table in MySQL
 - Store records to the table
 - Query the table

In order to promote speedy publication of this important topic, we have agreed to a submission date of no later than February 4, 2

[2017-11-10 21:55] walshbr commented on #94
Author doesn’t have enough time to take this on at the moment. He will revisit in the new year, potentially with a co-writer. Will reopen if necessary.

[2017-11-10 21:55] #94 closed

[2017-11-13 16:19] jamotilla commented on #134
Estimados @arojascastro , @vgayolrs  y @jairomelo , he realizado los cambios sugeridos. Una disculpa por la tardanza. Saludos a todos

[2017-11-13 16:36] arojascastro commented on #134
¡Gracias @jamotilla! ¿Dónde has hecho los cambios? ¿Has podido subir el nuevo archivo?

[2017-11-13 18:37] jamotilla commented on #134
Los integré directamente en la versión anterior, ¿está bien?
https://github.com/programminghistorian/ph-submissions/blob/gh-pages/es/traducciones/editar-audio-con-audacity.md

[2017-11-14 15:10] mariajoafana commented on #138
@vgayolrs Si te parece yo puedo hacer la primera revisión de este tutorial

[2017-11-14 15:30] arojascastro opened #142 "Ticket de Revisión de Traducción: Introducción a los principios de los Datos abiertos enlazados"
*The Programming Historian en español* ha recibido la siguiente propuesta de traducción *Introducción a los principios de los Datos abiertos enlazados* por parte de @mjcolmenero . Esta traducción se encuentra en estos momentos en fase de revisión por parte de @mariajoafana  y @arojascastro y puede leerse en:

### Texto
http://programminghistorian.github.io/ph-submissions/es/traducciones/introducci

[2017-11-14 16:35] mariajoafana commented on #142
Hola Antonio, me gustaría actuar como revisora de este tutorial

[2017-11-14 16:36] arojascastro commented on #142
Me parece muy bien @mariajoafana. Te aviso cuando esté todo listo porque la traductora quiere hacer unos cambios (creo entender) aún. O mejor que nos avise @mjcolmenero cuando esté todo listo para revisión.

[2017-11-15 01:02] mjcolmenero commented on #142
Hola @mariajoafana <https://github.com/mariajoafana>. Un placer de nuevo
;-).
Estaba terminando de revisar los enlaces a wikipedia para enlazarlos con
los correspondientes a la versión en español, si es que existen. Cuando no
hay opción dejo el original en inglés. También estaba revisando la sintxis
markdown porque he estado usando un editor y quería comprobar que no tiene
problema con github.
En

[2017-11-15 08:38] arojascastro commented on #142
Ok @mjcolmenero ya te he dado permiso; si tienes problemas dímelo. Quedamos a la espera.

[2017-11-17 19:57] vgayolrs commented on #134
@jamotilla , yo lo veo bien. Muchas gracias. Saludos!

[2017-11-18 14:19] arojascastro commented on #134
Gracias @jamotilla y @vgayolrs, os aviso cuando esté publicada.

[2017-11-18 23:41] jamotilla commented on #134
Gracias a ustedes!

[2017-11-20 19:41] el-barto commented on #130
Perdón por la demora, tuve unas semanas más cargadas de lo que esperaba. Ahí hice el pull request con las correcciones. Espero no haberme pasado por alto ninguna!

Con respecto al término "ráster", lo dejé como estaba porque he visto que se usa esa castellanización (por ejemplo, en [Wikipedia](https://es.wikipedia.org/wiki/Imagen_de_mapa_de_bits)). Pero si no están de acuerdo, lo cambio a *raster*

[2017-11-20 22:23] mariajoafana commented on #130
Muchas gracias @el-barto . Añado a @norbr quien será el segundo revisor del tutorial. Por favor, introduce aquí tus propuestas de cambio, ojalá en un plazo de dos semanas. Quedo pendiente sobre cualquier duda que puedas tener

[2017-11-21 00:08] mariajoafana commented on #138
Acá van mis comentarios:
**Comentarios generales:**
- ¿Habrá instrucciones en español para la instalación de Git Bash? Podríamos empezar un proyecto paralelo de instrucciones para instalar paquetes de código y software...

**Comentarios específicos:
- 33: Sugiero cambiar la segunda parte de la primera oración: "un historiador puede hacerse preguntas diferentes al volver a revisar los datos en un p

[2017-11-22 12:47] acrymble commented on #108
Just an update that our second reviewer has asked for a couple of extra weeks to write the review. We are hoping for a report in early December.

[2017-11-28 14:23] CzarinaChalid71 commented on #108
Hi Zoe,

Sorry for the delay in submitting this review. This write-up of yours is a commendable one in text analysis studies.  However, I would like to suggest certain things as follows:

1. It would be clearer for the uninitiated readers to have a brief explanation on what the various technical jargons mean. Your opening paragraph is rather broad. Segmenting the paragraph to perhaps one main idea

[2017-11-28 14:32] acrymble commented on #108
Thanks so much for the review. @zoews please give me a few days to consider these and I'll write up a suggested path forward that you can respond to. I will hope to have this by the end of the week!

[2017-11-28 16:09] cassws commented on #108
Sounds great -- thank you so much for your edits @CzarinaChalid71 (and yours as well @alsalin !)

[2017-11-28 17:27] mdlincoln opened #144 "Proposal - Temporal Social Network Analysis"
The Programming Historian has received the following proposal for a lesson on 'Temporal Social Network Analysis' by Alex Brey. The proposed learning outcomes of the lesson are:

- show humanists how to use R to do some visualizations and analysis of temporal networks

In order to promote speedy publication of this important topic, we have agreed to a submission date of no later than January 30th.

[2017-11-28 17:27] mdlincoln commented on #107
I'm closing this because I haven't heard back from the author.

[2017-11-30 20:59] walshbr commented on #106
@smythp - just wanted to check in since it's been about a month. How are you feeling about timeline for revision here? No worries if you've been delayed.

[2017-11-30 21:02] walshbr commented on #136
@atiro - just wanted to check in on this since it's been sometime since last contact. Do you have a sense of your timeline for revisions here? Hope you're well.

[2017-12-01 03:16] smythp commented on #106
Just under a bit of a writing crunch at the moment. Doing final edits just after the holidays would be ideal, but can get to it earlier if you think it's warranted. Sorry for not checking in!

[2017-12-01 13:18] walshbr commented on #106
That sounds good to me! I'll make a note to get back in touch if I don't hear from you.

[2017-12-01 17:26] acrymble commented on #108
Thanks to our reviewers. It looks like the advice is fairly straight forward and practical to implement. I'll let @zoews respond to each point in the final draft.

I am still of the opinion that this should be 2 tutorials, because I think people will want to know about sentiment analysis more than exploratory data analysis. From a Programming Historian perspective it also raises problems of where

[2017-12-03 18:08] walshbr opened #145 "Review Ticket: Getting Started with Word Embedding in R"
The Programming Historian has received the following tutorial on 'Getting Started with Word Embedding in R' by @SaraJKerr. The lesson is under review and can be found at:

http://programminghistorian.github.io/ph-submissions/lessons/getting-started-with-word-embeddings-in-r

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, although you ca

[2017-12-04 04:29] cassws commented on #108
@acrymble I definitely agree with you about 2 tutorials, especially with a little distance from the first draft (it's a lot to jump into as one continuous lesson!)

The timing is actually quite good for me -- I will be able to focus on this from the 11tb-20th of this month, and I will have extra time early January if necessary. My goal will be to get it to you by 20 December if at all possible, an

[2017-12-05 13:47] walshbr commented on #145
@SaraJKerr looking at your markdown syntax issues now - sometimes when you link to something you have a space between the brackets and the parentheses, as in paragraph 3. Getting rid of the space between brackets and parentheses will make the links actually parse as links. And then the other main syntax issue I see is the footnotes - some of the footnotes look like they have extra line breaks in t

[2017-12-05 14:42] walshbr commented on #145
Ah and I just added a folder for the lesson in the assets folder for you @SaraJKerr - you'll need to upload the Raw_pepys.txt file in there when you get a chance. I should be able to finish reading this and commenting by next week, though I've started already.

[2017-12-05 15:53] SaraJKerr commented on #145
@walshbr I have uploaded the Pepys_raw.txt file. I have also set up Jekyll to run on my laptop but it throws an error with the images "Could not locate the included file 'figure.html' " so I think that is an issue with my local folder set up. I have corrected the markdown for the hyperlinks and a couple of the images where there were missing speech marks. Should I upload it directly or create a br

[2017-12-05 17:55] walshbr commented on #145
@SaraJKerr - we don't employ a branching strategy on this staging repository so you can go ahead and upload directly.

I can also try to troubleshoot the include issue - it's not coming up when I run ph-submissions locally, so it does sound like an issue with your local setup. If you want to send along a screenshot of the error message in your terminal and your folder setup I can take a look. Happ

[2017-12-05 18:28] SaraJKerr commented on #145
@walshbr - I have uploaded the corrected version, but it is still bringing up a 404 when I try to open it on GitHub pages - so there must be something I have missed.

I'll try to sort out the local set up, but thanks for the offer of help.

[2017-12-05 18:44] walshbr commented on #145
It's possible you have the wrong link? The staging version is here (coming up for me) - http://programminghistorian.github.io/ph-submissions/lessons/getting-started-with-word-embeddings-in-r. If that's not coming up though it might be a caching issue - I'd try clearing your cache. But if that doesn't work let me know and can try to troubleshoot more.

I cleaned up the footnotes for you. I'll take

[2017-12-05 18:46] SaraJKerr commented on #145
Thank you - that works. I think I must have missed a letter somewhere.

[2017-12-08 16:04] walshbr commented on #145
Had some time, so I took at this earlier than anticipated. I think this is great in a lot of ways and headed in the right direction! It will be a great addition to the text analysis and R offerings that we have. The recommendations I have below are almost entirely requests for more explanation, analysis, and narrativizing throughout the piece. In particular, I think more explanation of the concept

[2017-12-08 17:19] arojascastro commented on #142
Querida @mariajoafana, ya puedes empezar a revisar la lección de @mjcolmenero. Yo haré de segundo revisor porque el tema me interesa :)

[2017-12-10 16:45] vgayolrs commented on #138
¡Muchas gracias @mariajoafana ! Atendidas las observaciones. Sobre el comentario general, sí hay varios tutoriales en español que cubren la instalación de Git Bash, varios en fomato de video. Podría poner un listado aquí para escoger el más adecuado y citarlo en la traducción como hice con la guía práctica de Unix y Linux.

[2017-12-11 08:54] arojascastro commented on #134
Lección publicada: https://programminghistorian.org/es/lecciones/editar-audio-con-audacity

Gracias @jamotilla @vgayolrs ! Ahora toca difundir un poco ;)

[2017-12-11 08:54] #134 closed

[2017-12-11 20:54] ianmilligan1 commented on #87
A heads up that I've been in touch with the author and revisions are in progress. 😄

[2017-12-12 17:33] jgmjgm commented on #87
First, thanks @ianmilligan1, @fdlaramee and @greebie for taking the time to look at this and review it.
I'm working away now and hope to have something soon.

[2017-12-15 14:27] ianmilligan1 commented on #87
First lesson has been rendered here, different URL now: http://programminghistorian.github.io/ph-submissions/lessons/dealing-with-big-data-and-network-analysis-using-neo4j

@jgmjgm are you fine with me removing the original version from the repo as it has a different file name? (the history would be preserved of course)

[2017-12-15 17:37] fdlaramee commented on #87
Hi @ianmilligan1,

Since I am still attached to this thread, do you want/expect me to review the new versions of the lesson (or lessons?) as well?

Thanks,
FDL

[2017-12-15 18:36] ianmilligan1 commented on #87
@jgmjgm I know it's still under development, but I have been going through the "dealing-with-big-data-and-network-analysi-using-neo4j" workflow.

The index creation failed for me:

[code]

led to:

[code]

As did:

[code]

But as you can see below, everything else was working well!

![screen shot 2017-12-15 at 1 32 34 pm](https://user-images.githubusercontent.com/3834704/34055373-dfec07c4-e19c-11e

[2017-12-15 18:45] ianmilligan1 commented on #139
Received! @drjwbaker and myself will read the piece and provide early feedback, and then we'll open up the ticket for review. 😄

[2017-12-15 20:01] whanley commented on #31
Hi @jerielizabeth. I decided to change the server program I recommend in the lesson. I've substituted GraphDB for Fuseki. It's easier to install, and it offers quite a few more features, most importantly inference support. I've changed the set of sample queries as a result, and the last query works now. I'm working on a next lesson, as well, which will extend the work on inferencing.

Hope it's re

[2017-12-15 20:34] jgmjgm commented on #87
Oops. @fdlaramee <https://github.com/fdlaramee>  made this point. The create indexes should be separate commands. I have them written as one.

Jon

jon.mackay@gmail.com

[2017-12-16 16:06] fdlaramee commented on #87
@ianmilligan1 I have my own lesson to finish this week before I (mostly) go away from the keyboard until mid-January, but I'll try to give it a whirl. Probably on the 22nd.

[2017-12-16 16:17] arojascastro commented on #142
¡Gracias @mjcolmenero por la traducción! He dividido mis comentarios en generales y específicos. Por favor, introduce los cambios y avísanos. Cuando tengamos la primera versión corregida, @mariajoafana hará una segunda lectura para ver que los cambios no han generado nuevos problemas. ¿Os parece bien?

Por supuesto, no corre prisa. Es Navidad. Podemos terminar la revisión hacia mediados de enero ¿

[2017-12-16 17:03] SaraJKerr commented on #145
Thank you for the feedback. I’m finishing a chapter at the moment but will get started on the list as soon as I’m done.

[2017-12-18 09:01] arojascastro opened #146 "Ticket de Revisión de Traducción: Introducción a la línea de comandos de Windows con PowerShell"
The Programming Historian en español ha recibido la siguiente propuesta de traducción *Introducción a la línea de comandos de Windows con PowerShell* por parte de @vgayolrs  . Esta traducción se encuentra en estos momentos en fase de revisión por parte de @silviaegt  y @jamotilla  y puede leerse en:

## Texto

http://programminghistorian.github.io/ph-submissions/es/traducciones/introduccion-a-powe

[2017-12-18 13:37] walshbr commented on #145
Sounds great @SaraJKerr - let me know if you wanted to discuss anything!

[2017-12-18 13:49] mariajoafana commented on #142
Perfecto, quedo pendiente para hacer la segunda revisión una vez @mjcolmenero haya incoporado los comentarios

[2017-12-19 18:22] jerielizabeth commented on #31
Hi @whanley. Thank you for making those changes!

I plan to look over the lesson next week and will be in touch!

[2017-12-19 21:18] silviaegt commented on #146
a) La [liga del párrafo 1](http://programminghistorian.github.io/ph-submissions/es/traducciones/introduccion-a-powershell#referencia-rapida) no lleva a la tabla al final.
b) Tampoco la del [párrafo 2](http://programminghistorian.github.io/ph-submissions/es/traducciones/introduccion-a-powershell#Utilizaci%C3%B3n-de-herramientas-de-l%C3%ADnea-de-comandos-y-ejecuci%C3%B3n-de-secuencias-de-comandos-en

[2017-12-20 09:47] arojascastro commented on #146
Gracias @silviaegt y @jamotilla por aceptar la revisión de esta traducción.

Os recuerdo la guía para traductores: https://programminghistorian.org/es/guia-para-revisores#traducciones

Lo ideas sería que termináramos la revisión en un menos de un mes, pero como están las Navidades de por medio, podemos tomárnoslo con más calma. En cualquier caso, si alguno de los dos no puede llevarla a cabo, hacé

[2017-12-21 20:57] ianmilligan1 commented on #87
Since it the lesson is in development, maybe it's easiest if you focus on your own lesson @fdlaramee, and I can work with Jon. Thanks again for all your help with this!

@jgmjgm – why don't you revise, and when you're happy for me to look again and do a final walkthrough (I think we're almost there!) please ping me either on e-mail or here.

[2017-12-21 20:59] fdlaramee commented on #87
@ianmilligan1 All right, signing off then!

All the best to everyone for the new year!

[2017-12-21 21:20] jgmjgm commented on #87
Okay, will do! Thanks and happy holidays to you both! 

[2017-12-24 15:56] jeffblackadar commented on #141
A draft of the lesson is here: https://github.com/programminghistorian/ph-submissions/blob/gh-pages/lessons/getting-started-with-mysql-using-r.md

I need to create a table of contents, but I am wondering if there is a utility that does that in a standardized way.

[2017-12-30 00:54] jerielizabeth commented on #31
Hi @whanley! Thank you so much for these changes. I know it's been a bit of a moving target, but i think the lesson is in great shape for it.

I think we are indeed ready to send the lesson out for review! I'll send out a few inquiries for potential reviewers, who will have a month to complete the review. I'll let you know once the reviewers are confirmed. Once both reviews are completed, I'll loo

[2017-12-30 11:07] acrymble commented on #103
This was a while ago now. Any update @jerielizabeth ?

[2017-12-30 11:07] acrymble commented on #104
This was a while ago now. Any update @jerielizabeth ?

[2017-12-30 11:08] acrymble commented on #104
Is this the same as #145? If so we can close this.

[2017-12-30 11:09] acrymble commented on #93
Any update on this? There is no date associated with this @jerielizabeth

[2017-12-30 11:10] acrymble commented on #90
Is this still going ahead @jerielizabeth ?

[2017-12-30 13:32] walshbr commented on #104
Ah I believe it is @acrymble - can reopen if I'm mistaken.

[2017-12-30 13:32] #104 closed

[2017-12-31 06:00] jerielizabeth commented on #103
I'll follow up and update these issues.

[2018-01-02 13:40] acrymble opened #147 "Review Ticket: Introduction to Stylometry w Python"
The Programming Historian has received the following tutorial on 'Introduction to stylometry with Python' by @fdlaramee . This lesson is now under review and can be read at:

http://programminghistorian.github.io/ph-submissions/lessons/introduction-to-stylometry-with-python

Please feel free to use the line numbers provided on the preview if that helps with anchoring your comments, although you ca

[2018-01-02 16:55] jamotilla commented on #146
Estimados, mis observaciones son las siguientes:
Párrafo 65, línea 2: structura / estructura
"" 71, línea 1: entinde / entiende
"" 155, línea 1: su / tu
"" 184, línea 6: adejcuado / adecuado
"" 193, línea 2: Revisar hipervínculo "tutorial python"

[2018-01-02 20:16] arojascastro commented on #146
Gracias @jamotilla.

Si @silviaegt o @jamotilla no quieren añadir nada más (sobre el estilo, por ejemplo), creo @vgayolrs que puedes introducir los cambios.

Intentaré leerme el tutorial una vez hayas hechos los cambios, antes de publicarlo, si te parece.

[2018-01-04 20:24] jamotilla commented on #146
@arojascastro considero que la traducción no tiene problemas de estilo. Me parece que es clara. Saludos

[2018-01-06 04:29] cassws commented on #108
Hi all! @acrymble @alsalin @CzarinaChalid71

Thank you again for your detailed feedback. I decided to rewrite significant portions of the lesson in order to address some of the big-picture feedback that came up in all the comments. Here are the big picture changes I made followed by specific changes as per your comments:

**Split into two sub-lessons**

I reorganized the lesson into the following

[2018-01-06 22:04] acrymble commented on #108
Thanks @zoews I will try to read asap.

[2018-01-08 17:33] acrymble commented on #108
Ok @zoews I've had a chance to go through and do copy-edits on the first lesson. I'm a heavy-handed copy editor, which I hope you won't take personally. The new file is available at:

http://programminghistorian.github.io/ph-submissions/lessons/sentiment-analysis

If there are any bits I've broken or otherwise made more confusing or wrong, let me know.

There are a few outstanding issues I need yo

[2018-01-08 17:42] cassws commented on #108
Hi @acrymble -- I just wanted to quickly jump in to help debug the module not found issue. I forgot this would create an error!

NLTK requires you to download some modules/corpuses/tools manually. To do this, you actually need to use Python 3 in the terminal (by typing python3 or python depending on how Python is installed, or using an IDE if relevant.. this is another thing I'll need to figure ou

[2018-01-08 18:28] jerielizabeth commented on #31
Update on the review for the lesson: James Smith and Bronwen Masemann have agreed to review the lesson, due **February 5.** They will post their feedback here.

[2018-01-08 18:37] jerielizabeth commented on #103
In reviewing my notes, this was one of two lessons pitched by Sara Kerr, who is currently working with @walshbr . She is moving forward with word-embeddings for now, but I think this proposal can be closed for the time being.

[2018-01-08 18:37] #103 closed

[2018-01-09 08:24] acrymble commented on #108
Ok I'll leave you to integrate that into the lesson and to address the other points and then I'll read it again. I think this is the home stretch for this first lesson.

[2018-01-09 17:36] cassws commented on #108
@acrymble sounds good -- I'll try to turn this around quickly (next day or two) and ping you back when done.

[2018-01-11 18:36] cassws commented on #108
@acrymble I've finished making edits on this draft.

I had accidentally placed the Works Cited in Part 2 without moving the citations over to Part 1 as well, so I moved the relevant citations here.

I provided more context for the type of English texts for which VADER is appropriate to use , and also included a paragraph explaining options for multilingual sentiment analysis. The solutions tend to

[2018-01-12 20:32] acrymble commented on #108
Thanks @zoews I've gone over this again and can confirm I got all the code to work. I've also done a bit more copy editing, as a few new errors crept in during your latest edits (mostly replacing *ss* with *scores*) and adjusting some grammar.

The image isn't properly linked. Can I ask you to adjust that please? I've made you a new folder 'sentiment-analysis' to put it into in the /images folder.

[2018-01-12 23:21] cassws commented on #108
@acrymble Hmm I don't see the sentiment-analysis subfolder in images. Could you create it again? I uploaded the image file to images for now and can move it over then. Thanks!

[2018-01-13 08:56] acrymble commented on #108
I managed to do it.

We'll use this image for the icon: https://www.flickr.com/photos/britishlibrary/11000942385/

@Zoews can you send me a 1 sentence bio that I can add? If you want to do a final read through of this let me know. Otherwise I think we can close this one.

Since it references the other lesson I think we'll have to wait to publish it officially so that internal references don't conf